extends ../../../web_includes/common/layout

block includes
  include ../../../web_includes/common/common_includes.pug

block header
        i.fa-fw.fa.fa-signal
        | Event Services

block main
  .row.row-fluid
    article.col-xs-9.col-sm-6.col-md-5.col-lg-5(style='width:400px')
      #wid-CFE-EVS-CmdAndData.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
        header
          span.widget-icon
            i.fa.fa-table
          h2 Housekeeping
        div
          .jarviswidget-editbox
            input.form-control(type='text')
          .widget-body
            .table-responsive
              table.table.table-condensed
                tbody
                  tr
                    th(style={width: '150px'}) Cmd Count:
                    td(style={width: '80px'})
                      span(data-sage={tlm: [{name: '/CFS/CFE_EVS/CmdCounter'}]}) ---
                    td(style={width: '150px'})
                      .btn-group
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd: {name: '/CFS/CFE_EVS/NoOp'}}) No-Op
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd: {name: '/CFS/CFE_EVS/ResetCounters'}}) Reset
                  tr
                    th Cmd Error Count:
                    td
                      span(data-sage={tlm: [{name: '/CFS/CFE_EVS/ErrCounter'}]}) ---
                    td
                  tr
                    th Msg Format
                    td
                      span(data-sage={tlm:[{name:'/CFS/CFE_EVS/MessageFormatMode'}]}) ---
                    td
                      .btn-group
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd:{name:'/CFS/CFE_EVS/SetEventFormatMode', argument:[{name:'Mode', value:'Short'},{name:'Spare', value:'0'}]}}) Short
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd:{name:'/CFS/CFE_EVS/SetEventFormatMode', argument:[{name:'Mode', value:'Long'},{name:'Spare', value:'0'}]}}) Long
                  tr
                    th Truncated Msgs
                    td
                      span(data-sage={tlm:[{name:'/CFS/CFE_EVS/MessageTruncCounter'}]}) ---
                    td
                  tr
                    th Unregistered Apps
                    td
                      span(data-sage={tlm:[{name:'/CFS/CFE_EVS/UnregisteredAppCounter'}]}) ---
                    td
                  tr
                    th Output Port 0
                    td
                      span(data-sage={tlm:[{name:'/CFS/CFE_EVS/OutputPort0'}]}) ---
                    td
                      .btn-group
                        button.btn.btn-xs.btn-primary.btn-labeled(data-sage={cmd:{name:'/CFS/CFE_EVS/EnablePorts', argument:[{name:'PortMask', value:'1'},{name:'Spare', value:'0'}]}}) Enable
                        button.btn.btn-xs.btn-primary.btn-labeled(data-sage={cmd:{name:'/CFS/CFE_EVS/DisablePorts', argument:[{name:'PortMask', value:'1'},{name:'Spare', value:'0'}]}}) Disable
                  tr
                    th Output Port 1
                    td
                      span(data-sage={tlm:[{name:'/CFS/CFE_EVS/OutputPort1'}]}) ---
                    td
                      .btn-group
                        button.btn.btn-xs.btn-primary.btn-labeled(data-sage={cmd:{name:'/CFS/CFE_EVS/EnablePorts', argument:[{name:'PortMask', value:'2'},{name:'Spare', value:'0'}]}}) Enable
                        button.btn.btn-xs.btn-primary.btn-labeled(data-sage={cmd:{name:'/CFS/CFE_EVS/DisablePorts', argument:[{name:'PortMask', value:'2'},{name:'Spare', value:'0'}]}}) Disable
                  tr
                    th Output Port 2
                    td
                      span(data-sage={tlm:[{name:'/CFS/CFE_EVS/OutputPort2'}]}) ---
                    td
                      .btn-group
                        button.btn.btn-xs.btn-primary.btn-labeled(data-sage={cmd:{name:'/CFS/CFE_EVS/EnablePorts', argument:[{name:'PortMask', value:'4'},{name:'Spare', value:'0'}]}}) Enable
                        button.btn.btn-xs.btn-primary.btn-labeled(data-sage={cmd:{name:'/CFS/CFE_EVS/DisablePorts', argument:[{name:'PortMask', value:'4'},{name:'Spare', value:'0'}]}}) Disable
                  tr
                    th Output Port 3
                    td
                      span(data-sage={tlm:[{name:'/CFS/CFE_EVS/OutputPort3'}]}) ---
                    td
                      .btn-group
                        button.btn.btn-xs.btn-primary.btn-labeled(data-sage={cmd:{name:'/CFS/CFE_EVS/EnablePorts', argument:[{name:'PortMask', value:'8'},{name:'Spare', value:'0'}]}}) Enable
                        button.btn.btn-xs.btn-primary.btn-labeled(data-sage={cmd:{name:'/CFS/CFE_EVS/DisablePorts', argument:[{name:'PortMask', value:'8'},{name:'Spare', value:'0'}]}}) Disable
                  tr
                    th Log Full
                    td
                      span(data-sage={tlm:[{name:'/CFS/CFE_EVS/LogFullFlag'}]}) ---
                    td
                  tr
                    th Log Mode
                    td
                      span(data-sage={tlm:[{name:'/CFS/CFE_EVS/LogMode'}]}) ---
                    td
                      .btn-group
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd:{name:'/CFS/CFE_EVS/SetLogMode', argument:[{name:'Mode', value:'Overwrite'},{name:'Spare', value:'0'}]}}) Overwrite
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd:{name:'/CFS/CFE_EVS/SetLogMode', argument:[{name:'Mode', value:'Discard'},{name:'Spare', value:'0'}]}}) Discard
                  tr
                    th Msg Send Counter
                    td
                      span(data-sage={tlm:[{name:'/CFS/CFE_EVS/MessageSendCounter'}]}) ---
                    td
                  tr
                    th Overflow Count
                    td
                      span(data-sage={tlm:[{name:'/CFS/CFE_EVS/LogOverflowCounter'}]}) ---
                    td
                  tr
                    th Log Enabled
                    td
                      span(data-sage={tlm:[{name:'/CFS/CFE_EVS/LogEnabled'}]}) ---
                    td

    article.col-xs-12.col-sm-12.col-md-10.col-lg-6(style={width:'300px'})               
      #wid-CFE-EVS-Events.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
        header
          span.widget-icon
            i.fa.fa-table
          h2 Event Filter (Generic)
        div
          .jarviswidget-editbox
            input.form-control(type='text')
          .widget-body
            .table-responsive
              table.table.table-condensed
                tbody
                  tr
                    th(style={width:'100px'}) App Events
                    td
                      .btn-group
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/EnableAppEvents'}}) Enable
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/DisableAppEvents'}}) Disable
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/ResetAllFilters'}}) Reset
                  tr
                    th Event Types
                    td
                  tr
                    td(style='padding-left: 20px !important') Critical
                    td
                      .btn-group
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/EnableAppEventType', argument:[{name:'Critical', value:'Ignored'},{name:'Error', value:'Ignored'},{name:'Information', value:'Set'},{name:'Debug', value:'Ignored'},{name:'Spare', value:'0'}]}}) Enable
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/DisableAppEventType', argument:[{name:'Critical', value:'Ignored'},{name:'Error', value:'Ignored'},{name:'Information', value:'Set'},{name:'Debug', value:'Ignored'},{name:'Spare', value:'0'}]}}) Disable
                  tr
                    td(style='padding-left: 20px !important')  Error
                    td
                      .btn-group
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/EnableAppEventType', argument:[{name:'Critical', value:'Ignored'},{name:'Error', value:'Set'},{name:'Information', value:'Ignored'},{name:'Debug', value:'Ignored'},{name:'Spare', value:'0'}]}}) Enable
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/DisableAppEventType', argument:[{name:'Critical', value:'Ignored'},{name:'Error', value:'Set'},{name:'Information', value:'Ignored'},{name:'Debug', value:'Ignored'},{name:'Spare', value:'0'}]}}) Disable
                  tr
                    td(style='padding-left: 20px !important')  Info
                    td
                      .btn-group
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/EnableAppEventType', argument:[{name:'Critical', value:'Ignored'},{name:'Error', value:'Ignored'},{name:'Information', value:'Set'},{name:'Error', value:'Ignored'},{name:'Spare', value:'0'}]}}) Enable
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/DisableAppEventType', argument:[{name:'Critical', value:'Ignored'},{name:'Error', value:'Ignored'},{name:'Information', value:'Set'},{name:'Debug', value:'Ignored'},{name:'Spare', value:'0'}]}}) Disable
                  tr
                    td(style='padding-left: 20px !important')  Debug
                    td
                      .btn-group
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/EnableAppEventType', argument:[{name:'Critical', value:'Ignored'},{name:'Error', value:'Ignored'},{name:'Information', value:'Ignored'},{name:'Debug', value:'Set'},{name:'Spare', value:'0'}]}}) Enable
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/DisableAppEventType', argument:[{name:'Critical', value:'Ignored'},{name:'Error', value:'Ignored'},{name:'Information', value:'Ignored'},{name:'Debug', value:'Set'},{name:'Spare', value:'0'}]}}) Disable
                  tr
                    th Event IDs
                    td
                      .btn-group
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/SetFilter'}}) Set
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/ResetFilter'}}) Reset
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/AddEventFilter'}}) Add
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/DeleteEventFilter'}}) Delete

    - 
      var schDef = {
        slotCount:200,
        entriesPerSlot:5,
        appName:'CFE_EVS',
        slots:[
          {id:40, activities:[1]}],
        groups:[
          {name:'SCH_GROUP_CFE_EVS_SEND_HK', id:0x00080000}]};

    article.col-xs-12.col-sm-12.col-md-12.col-lg-5
      #wid-CFE-EVS-SCH.jarviswidget.jarviswidget-color-blueDark(style='width: 860px' data-widget-editbutton='false')
        header
          span.widget-icon
            i.fa.fa-table
          h2 Scheduler 
            button.btn.btn-xs.btn-primary.btn-labeled(data-sage={cmd:{name:'/CFS/SCH/SendDiagTlm'}}) Send Schedule
        div
          .jarviswidget-editbox
            input.form-control(type='text')
          .widget-body
            .table-responsive
              table.table.table-condensed
                tbody
                  tr
                    th(style='width: 150px') Cmd Count
                    td
                      span(data-sage={tlm: [{name:'/CFS/SCH/CmdCounter'}]}) ---
                  tr
                    th Error Count
                    td
                      span(data-sage={tlm: [{name:'/CFS/SCH/ErrCounter'}]}) ---
            .table-responsive
              table.table.table-bordered.table-condensed
                thead
                  tr
                    th(style="width: 100px") Slot #
                    th(style="width: 100px") Activity #
                    th(style="width: 150px") State
                    th MsgID
                    th(style="width: 150px") Action
                tbody
                  - for (var slotIdx = 0; slotIdx < schDef.slots.length; ++slotIdx) {
                    - var slotID = schDef.slots[slotIdx].id;
                    - var strSlotID = '' + slotID;
                    - for (var actIdx = 0; actIdx < schDef.slots[slotIdx].activities.length; ++actIdx){
                      - var actID = schDef.slots[slotIdx].activities[actIdx];
                      - var strActID =  '' + actID;
                      - var entryID = (schDef.entriesPerSlot * slotID) + actID;
                      - var strEntryID = '' + entryID;
                      - var tlmEntryState = {tlm:[{name:'/CFS/SCH/EntryState_'+entryID}]};
                      - var tlmMsgID = {tlm:[{name:'/CFS/SCH/MsgID_'+entryID}]};
                      - var cmdEnableEntry = {cmd: {name:'/CFS/SCH/EnableEntry', argument:[{name:'Slot', value:strSlotID},{name:'Entry', value:strActID}]}};
                      - var cmdDisableEntry = {cmd: {name:'/CFS/SCH/DisableEntry', argument:[{name:'Slot', value:strSlotID},{name:'Entry', value:strActID}]}};
                      tr
                        td #{slotID}
                        td #{strActID}
                        td 
                          span(data-sage= tlmEntryState) ---
                        td
                          span(data-sage= tlmMsgID) ---
                        td
                          .btn-group.dropup
                            button.btn.btn-xs.btn-primary.btn-labeled(data-sage= cmdEnableEntry) Ena
                            button.btn.btn-xs.btn-primary.btn-labeled(data-sage= cmdDisableEntry) Dis
                    - };
                  - };
            .table-responsive
              table.table.table-bordered.table-condensed
                thead
                  tr
                    th(style="width: 100px") Group Name
                    th(style="width: 100px") Group ID
                    th(style="width: 150px") Action
                tbody
                  - for (var grpIdx = 0; grpIdx < schDef.groups.length; ++grpIdx) {
                    - var grpName = schDef.groups[grpIdx].name;
                    - var grpID = schDef.groups[grpIdx].id;
                    - var strGrpID = '0x' + grpID.toString(16);
                    - var cmdEnableGroup = {cmd: {name:'/CFS/SCH/EnableGroup', argument:[{name:'Group', value:strGrpID}]}};
                    - var cmdDisableGroup = {cmd: {name:'/CFS/SCH/DisableGroup', argument:[{name:'Group', value:strGrpID}]}};
                    tr
                      td #{grpName}
                      td(style='font-family: monospace') #{strGrpID}
                      td
                        .btn-group.dropup
                          button.btn.btn-xs.btn-primary.btn-labeled(data-sage= cmdEnableGroup) Ena
                          button.btn.btn-xs.btn-primary.btn-labeled(data-sage= cmdDisableGroup) Dis
                  - };

  .row
    article.col-xs-12.col-sm-12.col-md-10.col-lg-6(style={width:'500px'})               
      #wid-CFE-ES-Events.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
        header
          span.widget-icon
            i.fa.fa-table
          h2 Event Filter (CFE EVS Specific)
        div
          .jarviswidget-editbox
            input.form-control(type='text')
          .widget-body
            .table-responsive
              table.table.table-condensed
                tbody
                  tr
                    th(style={width:'250px'}) App Events
                    td(style={width:'150px'})
                      .btn-group
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/EnableAppEvents', argument:[{name:'AppName', value:'CFE_EVS'}]}}) Enable
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/DisableAppEvents', argument:[{name:'AppName', value:'CFE_EVS'}]}}) Disable
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/ResetAllFilters', argument:[{name:'AppName', value:'CFE_EVS'}]}}) Reset
                  tr
                    th Event Types
                    td
                  tr
                    td(style='padding-left: 20px !important') Critical
                    td
                      .btn-group
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/EnableAppEventType', argument:[{name:'AppName', value:'CFE_EVS'},{name:'Critical', value:'Ignored'},{name:'Error', value:'Ignored'},{name:'Information', value:'Set'},{name:'Debug', value:'Ignored'},{name:'Spare', value:'0'}]}}) Enable
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/DisableAppEventType', argument:[{name:'AppName', value:'CFE_EVS'},{name:'Critical', value:'Ignored'},{name:'Error', value:'Ignored'},{name:'Information', value:'Set'},{name:'Debug', value:'Ignored'},{name:'Spare', value:'0'}]}}) Disable
                  tr
                    td(style='padding-left: 20px !important')  Error
                    td
                      .btn-group
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/EnableAppEventType', argument:[{name:'AppName', value:'CFE_EVS'},{name:'Critical', value:'Ignored'},{name:'Error', value:'Set'},{name:'Information', value:'Ignored'},{name:'Debug', value:'Ignored'},{name:'Spare', value:'0'}]}}) Enable
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/DisableAppEventType', argument:[{name:'AppName', value:'CFE_EVS'},{name:'Critical', value:'Ignored'},{name:'Error', value:'Set'},{name:'Information', value:'Ignored'},{name:'Debug', value:'Ignored'},{name:'Spare', value:'0'}]}}) Disable
                  tr
                    td(style='padding-left: 20px !important')  Info
                    td
                      .btn-group
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/EnableAppEventType', argument:[{name:'AppName', value:'CFE_EVS'},{name:'Critical', value:'Ignored'},{name:'Error', value:'Ignored'},{name:'Information', value:'Set'},{name:'Error', value:'Ignored'},{name:'Spare', value:'0'}]}}) Enable
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/DisableAppEventType', argument:[{name:'AppName', value:'CFE_EVS'},{name:'Critical', value:'Ignored'},{name:'Error', value:'Ignored'},{name:'Information', value:'Set'},{name:'Debug', value:'Ignored'},{name:'Spare', value:'0'}]}}) Disable
                  tr
                    td(style='padding-left: 20px !important')  Debug
                    td
                      .btn-group
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/EnableAppEventType', argument:[{name:'AppName', value:'CFE_EVS'},{name:'Critical', value:'Ignored'},{name:'Error', value:'Ignored'},{name:'Information', value:'Ignored'},{name:'Debug', value:'Set'},{name:'Spare', value:'0'}]}}) Enable
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/DisableAppEventType', argument:[{name:'AppName', value:'CFE_EVS'},{name:'Critical', value:'Ignored'},{name:'Error', value:'Ignored'},{name:'Information', value:'Ignored'},{name:'Debug', value:'Set'},{name:'Spare', value:'0'}]}}) Disable
                  tr
                    th Event IDs
                    td
                  - 
                    var eventDef = {
                      appName:'CFE_EVS',
                      events:[
                        {name:'CFE_EVS_NOOP_EID', eventID:0},
                        {name:'CFE_EVS_STARTUP_EID', eventID:1},
                        {name:'CFE_EVS_ERR_WRLOGFILE_EID', eventID:2},
                        {name:'CFE_EVS_NOOP_EID', eventID:0},
                        {name:'CFE_EVS_STARTUP_EID', eventID:1},
                        {name:'CFE_EVS_ERR_WRLOGFILE_EID', eventID:2},
                        {name:'CFE_EVS_ERR_CRLOGFILE_EID', eventID:3},
                        {name:'CFE_EVS_ERR_MSGID_EID', eventID:5},
                        {name:'CFE_EVS_ERR_EVTIDNOREGS_EID', eventID:6},
                        {name:'CFE_EVS_ERR_APPNOREGS_EID', eventID:7},
                        {name:'CFE_EVS_ERR_ILLAPPIDRANGE_EID', eventID:8},
                        {name:'CFE_EVS_ERR_NOAPPIDFOUND_EID', eventID:9},
                        {name:'CFE_EVS_ERR_ILLEGALFMTMOD_EID', eventID:10},
                        {name:'CFE_EVS_ERR_MAXREGSFILTER_EID', eventID:11},
                        {name:'CFE_EVS_ERR_WRDATFILE_EID', eventID:12},
                        {name:'CFE_EVS_ERR_CRDATFILE_EID', eventID:13},
                        {name:'CFE_EVS_ERR_CC_EID', eventID:15},
                        {name:'CFE_EVS_RSTCNT_EID', eventID:16},
                        {name:'CFE_EVS_SETFILTERMSK_EID', eventID:17},
                        {name:'CFE_EVS_ENAPORT_EID', eventID:18},
                        {name:'CFE_EVS_DISPORT_EID', eventID:19},
                        {name:'CFE_EVS_ENAEVTTYPE_EID', eventID:20},
                        {name:'CFE_EVS_DISEVTTYPE_EID', eventID:21},
                        {name:'CFE_EVS_SETEVTFMTMOD_EID', eventID:22},
                        {name:'CFE_EVS_ENAAPPEVTTYPE_EID ', eventID:23},
                        {name:'CFE_EVS_DISAPPENTTYPE_EID', eventID:24},
                        {name:'CFE_EVS_ENAAPPEVT_EID', eventID:25},
                        {name:'CFE_EVS_DISAPPEVT_EID', eventID:26},
                        {name:'CFE_EVS_RSTEVTCNT_EID', eventID:27},
                        {name:'CFE_EVS_RSTFILTER_EID', eventID:28},
                        {name:'CFE_EVS_RSTALLFILTER_EID', eventID:29},
                        {name:'CFE_EVS_ADDFILTER_EID', eventID:30},
                        {name:'CFE_EVS_DELFILTER_EID', eventID:31},
                        {name:'CFE_EVS_WRDAT_EID', eventID:32},
                        {name:'CFE_EVS_WRLOG_EID', eventID:33},
                        {name:'CFE_EVS_NO_LOGSET_EID', eventID:34},
                        {name:'CFE_EVS_NO_LOGCLR_EID', eventID:35},
                        {name:'CFE_EVS_NO_LOGWR_EID', eventID:36},
                        {name:'CFE_EVS_EVT_FILTERED_EID', eventID:37},
                        {name:'CFE_EVS_LOGMODE_EID', eventID:38},
                        {name:'CFE_EVS_ERR_LOGMODE_EID', eventID:39},
                        {name:'CFE_EVS_ERR_INVALID_BITMASK_EID', eventID:40},
                        {name:'CFE_EVS_ERR_UNREGISTERED_EVS_APP', eventID:41},
                        {name:'CFE_EVS_FILTER_MAX_EID', eventID:42},
                        {name:'CFE_EVS_LEN_ERR_EID', eventID:43}]
                      }; 

                  - for (var idx = 0; idx < eventDef.events.length; ++idx) {
                      - var strEventID = '' + eventDef.events[idx].eventID;
                      - var cmdSetFilter = {cmd: {name:'/CFS/CFE_EVS/SetFilter', argument:[{name:'AppName', value:eventDef.appName},{name:'EventID', value:strEventID}]}};
                      - var cmdResetFilter = {cmd: {name:'/CFS/CFE_EVS/ResetFilter', argument:[{name:'AppName', value:eventDef.appName},{name:'EventID', value:strEventID}]}};
                      - var cmdAddEventFilter = {cmd: {name:'/CFS/CFE_EVS/AddEventFilter', argument:[{name:'AppName', value:eventDef.appName},{name:'EventID', value:strEventID}]}};
                      - var cmdDeleteEventFilter = {cmd: {name:'/CFS/CFE_EVS/DeleteEventFilter', argument:[{name:'AppName', value:eventDef.appName},{name:'EventID', value:strEventID}]}};
                      tr
                        td(style='padding-left: 20px !important')  #{eventDef.events[idx].name}
                        td
                          .btn-group
                            button.btn.btn-xs.btn-primary(data-sage= cmdSetFilter) Set
                            button.btn.btn-xs.btn-primary(data-sage= cmdResetFilter) Reset
                            button.btn.btn-xs.btn-primary(data-sage= cmdAddEventFilter) Add
                            button.btn.btn-xs.btn-primary(data-sage= cmdDeleteEventFilter) Delete
                  - };


    article.col-xs-12.col-sm-12.col-md-12.col-lg-12(style='width:400px')
      #wid-CFE-EVS-Stats.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
        header
          span.widget-icon
            i.fa.fa-table
          h2 Stats
        div
          .jarviswidget-editbox
            input.form-control(type='text')
          .widget-body
            .table-responsive
              table.table.table-condensed.table-striped
               thead
                 th(style={width:'50px'}) #
                 th(style={width:'75px'}) App ID
                 th(style={width:'100px'}) Msgs Sent
                 th(style={width:'100px'}) Status
                 th(style={width:'10px'}) 
               tbody
                 tr
                   td 0
                   td 
                      span(data-sage={tlm:[{name:'/CFS/CFE_EVS/AppData_0_AppID', calibration:{type:'function', function:'AppIDtoName(value)'}}]}) ---
                   td 
                      span(data-sage={tlm:[{name:'/CFS/CFE_EVS/AppData_0_MessageSentCounter'}]}) ---
                   td 
                      span(data-sage={tlm:[{name:'/CFS/CFE_EVS/AppData_0_EnableStatus'}]}) ---
                   td
                 tr
                   td 1
                   td 
                      span(data-sage={tlm:[{name:'/CFS/CFE_EVS/AppData_1_AppID', calibration:{type:'function', function:'AppIDtoName(value)'}}]}) ---
                   td 
                      span(data-sage={tlm:[{name:'/CFS/CFE_EVS/AppData_1_MessageSentCounter'}]}) ---
                   td 
                      span(data-sage={tlm:[{name:'/CFS/CFE_EVS/AppData_1_EnableStatus'}]}) ---
                   td
                 tr
                   td 2
                   td
                      span(data-sage={tlm:[{name:'/CFS/CFE_EVS/AppData_2_AppID', calibration:{type:'function', function:'AppIDtoName(value)'}}]}) ---
                   td 
                      span(data-sage={tlm:[{name:'/CFS/CFE_EVS/AppData_2_MessageSentCounter'}]}) ---
                   td 
                      span(data-sage={tlm:[{name:'/CFS/CFE_EVS/AppData_2_EnableStatus'}]}) ---
                   td
                 tr
                   td 3
                   td 
                      span(data-sage={tlm:[{name:'/CFS/CFE_EVS/AppData_3_AppID', calibration:{type:'function', function:'AppIDtoName(value)'}}]}) ---
                   td 
                      span(data-sage={tlm:[{name:'/CFS/CFE_EVS/AppData_3_MessageSentCounter'}]}) ---
                   td 
                      span(data-sage={tlm:[{name:'/CFS/CFE_EVS/AppData_3_EnableStatus'}]}) ---
                   td
                 tr
                   td 4
                   td 
                      span(data-sage={tlm:[{name:'/CFS/CFE_EVS/AppData_4_AppID', calibration:{type:'function', function:'AppIDtoName(value)'}}]}) ---
                   td 
                      span(data-sage={tlm:[{name:'/CFS/CFE_EVS/AppData_4_MessageSentCounter'}]}) ---
                   td 
                      span(data-sage={tlm:[{name:'/CFS/CFE_EVS/AppData_4_EnableStatus'}]}) ---
                   td
                 tr
                   td 5
                   td 
                      span(data-sage={tlm:[{name:'/CFS/CFE_EVS/AppData_5_AppID', calibration:{type:'function', function:'AppIDtoName(value)'}}]}) ---
                   td 
                      span(data-sage={tlm:[{name:'/CFS/CFE_EVS/AppData_5_MessageSentCounter'}]}) ---
                   td 
                      span(data-sage={tlm:[{name:'/CFS/CFE_EVS/AppData_5_EnableStatus'}]}) ---
                   td
                 tr
                   td 6
                   td
                      span(data-sage={tlm:[{name:'/CFS/CFE_EVS/AppData_6_AppID', calibration:{type:'function', function:'AppIDtoName(value)'}}]}) ---
                   td 
                      span(data-sage={tlm:[{name:'/CFS/CFE_EVS/AppData_6_MessageSentCounter'}]}) ---
                   td 
                      span(data-sage={tlm:[{name:'/CFS/CFE_EVS/AppData_6_EnableStatus'}]}) ---
                   td
                 tr
                   td 7
                   td 
                      span(data-sage={tlm:[{name:'/CFS/CFE_EVS/AppData_7_AppID', calibration:{type:'function', function:'AppIDtoName(value)'}}]}) ---
                   td 
                      span(data-sage={tlm:[{name:'/CFS/CFE_EVS/AppData_7_MessageSentCounter'}]}) ---
                   td 
                      span(data-sage={tlm:[{name:'/CFS/CFE_EVS/AppData_7_EnableStatus'}]}) ---
                   td
                 tr
                   td 8
                   td 
                      span(data-sage={tlm:[{name:'/CFS/CFE_EVS/AppData_8_AppID', calibration:{type:'function', function:'AppIDtoName(value)'}}]}) ---
                   td 
                      span(data-sage={tlm:[{name:'/CFS/CFE_EVS/AppData_8_MessageSentCounter'}]}) ---
                   td 
                      span(data-sage={tlm:[{name:'/CFS/CFE_EVS/AppData_8_EnableStatus'}]}) ---
                   td
                 tr
                   td 9
                   td 
                      span(data-sage={tlm:[{name:'/CFS/CFE_EVS/AppData_9_AppID', calibration:{type:'function', function:'AppIDtoName(value)'}}]}) ---
                   td 
                      span(data-sage={tlm:[{name:'/CFS/CFE_EVS/AppData_9_MessageSentCounter'}]}) ---
                   td 
                      span(data-sage={tlm:[{name:'/CFS/CFE_EVS/AppData_9_EnableStatus'}]}) ---
                   td
                 tr
                   td 10
                   td
                      span(data-sage={tlm:[{name:'/CFS/CFE_EVS/AppData_10_AppID', calibration:{type:'function', function:'AppIDtoName(value)'}}]}) ---
                   td 
                      span(data-sage={tlm:[{name:'/CFS/CFE_EVS/AppData_10_MessageSentCounter'}]}) ---
                   td 
                      span(data-sage={tlm:[{name:'/CFS/CFE_EVS/AppData_10_EnableStatus'}]}) ---
                   td
                 tr
                   td 11
                   td 
                      span(data-sage={tlm:[{name:'/CFS/CFE_EVS/AppData_11_AppID', calibration:{type:'function', function:'AppIDtoName(value)'}}]}) ---
                   td 
                      span(data-sage={tlm:[{name:'/CFS/CFE_EVS/AppData_11_MessageSentCounter'}]}) ---
                   td 
                      span(data-sage={tlm:[{name:'/CFS/CFE_EVS/AppData_11_EnableStatus'}]}) ---
                   td
                 tr
                   td 12
                   td 
                      span(data-sage={tlm:[{name:'/CFS/CFE_EVS/AppData_12_AppID', calibration:{type:'function', function:'AppIDtoName(value)'}}]}) ---
                   td 
                      span(data-sage={tlm:[{name:'/CFS/CFE_EVS/AppData_12_MessageSentCounter'}]}) ---
                   td 
                      span(data-sage={tlm:[{name:'/CFS/CFE_EVS/AppData_12_EnableStatus'}]}) ---
                   td
                 tr
                   td 13
                   td 
                      span(data-sage={tlm:[{name:'/CFS/CFE_EVS/AppData_13_AppID', calibration:{type:'function', function:'AppIDtoName(value)'}}]}) ---
                   td 
                      span(data-sage={tlm:[{name:'/CFS/CFE_EVS/AppData_13_MessageSentCounter'}]}) ---
                   td 
                      span(data-sage={tlm:[{name:'/CFS/CFE_EVS/AppData_13_EnableStatus'}]}) ---
                   td
                 tr
                   td 14
                   td
                      span(data-sage={tlm:[{name:'/CFS/CFE_EVS/AppData_14_AppID', calibration:{type:'function', function:'AppIDtoName(value)'}}]}) ---
                   td 
                      span(data-sage={tlm:[{name:'/CFS/CFE_EVS/AppData_14_MessageSentCounter'}]}) ---
                   td 
                      span(data-sage={tlm:[{name:'/CFS/CFE_EVS/AppData_14_EnableStatus'}]}) ---
                   td
                 tr
                   td 15
                   td 
                      span(data-sage={tlm:[{name:'/CFS/CFE_EVS/AppData_15_AppID', calibration:{type:'function', function:'AppIDtoName(value)'}}]}) ---
                   td 
                      span(data-sage={tlm:[{name:'/CFS/CFE_EVS/AppData_15_MessageSentCounter'}]}) ---
                   td 
                      span(data-sage={tlm:[{name:'/CFS/CFE_EVS/AppData_15_EnableStatus'}]}) ---
                   td
                 tr
                   td 16
                   td 
                      span(data-sage={tlm:[{name:'/CFS/CFE_EVS/AppData_16_AppID', calibration:{type:'function', function:'AppIDtoName(value)'}}]}) ---
                   td 
                      span(data-sage={tlm:[{name:'/CFS/CFE_EVS/AppData_16_MessageSentCounter'}]}) ---
                   td 
                      span(data-sage={tlm:[{name:'/CFS/CFE_EVS/AppData_16_EnableStatus'}]}) ---
                   td
                 tr
                   td 17
                   td 
                      span(data-sage={tlm:[{name:'/CFS/CFE_EVS/AppData_17_AppID', calibration:{type:'function', function:'AppIDtoName(value)'}}]}) ---
                   td 
                      span(data-sage={tlm:[{name:'/CFS/CFE_EVS/AppData_17_MessageSentCounter'}]}) ---
                   td 
                      span(data-sage={tlm:[{name:'/CFS/CFE_EVS/AppData_17_EnableStatus'}]}) ---
                   td
                 tr
                   td 18
                   td
                      span(data-sage={tlm:[{name:'/CFS/CFE_EVS/AppData_18_AppID', calibration:{type:'function', function:'AppIDtoName(value)'}}]}) ---
                   td 
                      span(data-sage={tlm:[{name:'/CFS/CFE_EVS/AppData_18_MessageSentCounter'}]}) ---
                   td 
                      span(data-sage={tlm:[{name:'/CFS/CFE_EVS/AppData_18_EnableStatus'}]}) ---
                   td
                 tr
                   td 19
                   td 
                      span(data-sage={tlm:[{name:'/CFS/CFE_EVS/AppData_19_AppID', calibration:{type:'function', function:'AppIDtoName(value)'}}]}) ---
                   td 
                      span(data-sage={tlm:[{name:'/CFS/CFE_EVS/AppData_19_MessageSentCounter'}]}) ---
                   td 
                      span(data-sage={tlm:[{name:'/CFS/CFE_EVS/AppData_19_EnableStatus'}]}) ---
                   td
                 tr
                   td 20
                   td 
                      span(data-sage={tlm:[{name:'/CFS/CFE_EVS/AppData_20_AppID', calibration:{type:'function', function:'AppIDtoName(value)'}}]}) ---
                   td 
                      span(data-sage={tlm:[{name:'/CFS/CFE_EVS/AppData_20_MessageSentCounter'}]}) ---
                   td 
                      span(data-sage={tlm:[{name:'/CFS/CFE_EVS/AppData_20_EnableStatus'}]}) ---
                   td
                 tr
                   td 21
                   td 
                      span(data-sage={tlm:[{name:'/CFS/CFE_EVS/AppData_21_AppID', calibration:{type:'function', function:'AppIDtoName(value)'}}]}) ---
                   td 
                      span(data-sage={tlm:[{name:'/CFS/CFE_EVS/AppData_21_MessageSentCounter'}]}) ---
                   td 
                      span(data-sage={tlm:[{name:'/CFS/CFE_EVS/AppData_21_EnableStatus'}]}) ---
                   td
                 tr
                   td 22
                   td
                      span(data-sage={tlm:[{name:'/CFS/CFE_EVS/AppData_22_AppID', calibration:{type:'function', function:'AppIDtoName(value)'}}]}) ---
                   td 
                      span(data-sage={tlm:[{name:'/CFS/CFE_EVS/AppData_22_MessageSentCounter'}]}) ---
                   td 
                      span(data-sage={tlm:[{name:'/CFS/CFE_EVS/AppData_22_EnableStatus'}]}) ---
                   td
                 tr
                   td 23
                   td 
                      span(data-sage={tlm:[{name:'/CFS/CFE_EVS/AppData_23_AppID', calibration:{type:'function', function:'AppIDtoName(value)'}}]}) ---
                   td 
                      span(data-sage={tlm:[{name:'/CFS/CFE_EVS/AppData_23_MessageSentCounter'}]}) ---
                   td 
                      span(data-sage={tlm:[{name:'/CFS/CFE_EVS/AppData_23_EnableStatus'}]}) ---
                   td
                 tr
                   td 24
                   td 
                      span(data-sage={tlm:[{name:'/CFS/CFE_EVS/AppData_24_AppID', calibration:{type:'function', function:'AppIDtoName(value)'}}]}) ---
                   td 
                      span(data-sage={tlm:[{name:'/CFS/CFE_EVS/AppData_24_MessageSentCounter'}]}) ---
                   td 
                      span(data-sage={tlm:[{name:'/CFS/CFE_EVS/AppData_24_EnableStatus'}]}) ---
                   td
                 tr
                   td 25
                   td 
                      span(data-sage={tlm:[{name:'/CFS/CFE_EVS/AppData_25_AppID', calibration:{type:'function', function:'AppIDtoName(value)'}}]}) ---
                   td 
                      span(data-sage={tlm:[{name:'/CFS/CFE_EVS/AppData_25_MessageSentCounter'}]}) ---
                   td 
                      span(data-sage={tlm:[{name:'/CFS/CFE_EVS/AppData_25_EnableStatus'}]}) ---
                   td
                 tr
                   td 26
                   td
                      span(data-sage={tlm:[{name:'/CFS/CFE_EVS/AppData_26_AppID', calibration:{type:'function', function:'AppIDtoName(value)'}}]}) ---
                   td 
                      span(data-sage={tlm:[{name:'/CFS/CFE_EVS/AppData_26_MessageSentCounter'}]}) ---
                   td 
                      span(data-sage={tlm:[{name:'/CFS/CFE_EVS/AppData_26_EnableStatus'}]}) ---
                   td
                 tr
                   td 27
                   td 
                      span(data-sage={tlm:[{name:'/CFS/CFE_EVS/AppData_27_AppID', calibration:{type:'function', function:'AppIDtoName(value)'}}]}) ---
                   td 
                      span(data-sage={tlm:[{name:'/CFS/CFE_EVS/AppData_27_MessageSentCounter'}]}) ---
                   td 
                      span(data-sage={tlm:[{name:'/CFS/CFE_EVS/AppData_27_EnableStatus'}]}) ---
                   td
                 tr
                   td 28
                   td 
                      span(data-sage={tlm:[{name:'/CFS/CFE_EVS/AppData_28_AppID', calibration:{type:'function', function:'AppIDtoName(value)'}}]}) ---
                   td 
                      span(data-sage={tlm:[{name:'/CFS/CFE_EVS/AppData_28_MessageSentCounter'}]}) ---
                   td 
                      span(data-sage={tlm:[{name:'/CFS/CFE_EVS/AppData_28_EnableStatus'}]}) ---
                   td
                 tr
                   td 29
                   td 
                      span(data-sage={tlm:[{name:'/CFS/CFE_EVS/AppData_29_AppID', calibration:{type:'function', function:'AppIDtoName(value)'}}]}) ---
                   td 
                      span(data-sage={tlm:[{name:'/CFS/CFE_EVS/AppData_29_MessageSentCounter'}]}) ---
                   td 
                      span(data-sage={tlm:[{name:'/CFS/CFE_EVS/AppData_29_EnableStatus'}]}) ---
                   td
                 tr
                   td 30
                   td
                      span(data-sage={tlm:[{name:'/CFS/CFE_EVS/AppData_30_AppID', calibration:{type:'function', function:'AppIDtoName(value)'}}]}) ---
                   td 
                      span(data-sage={tlm:[{name:'/CFS/CFE_EVS/AppData_30_MessageSentCounter'}]}) ---
                   td 
                      span(data-sage={tlm:[{name:'/CFS/CFE_EVS/AppData_30_EnableStatus'}]}) ---
                   td
                 tr
                   td 31
                   td 
                      span(data-sage={tlm:[{name:'/CFS/CFE_EVS/AppData_31_AppID', calibration:{type:'function', function:'AppIDtoName(value)'}}]}) ---
                   td 
                      span(data-sage={tlm:[{name:'/CFS/CFE_EVS/AppData_31_MessageSentCounter'}]}) ---
                   td 
                      span(data-sage={tlm:[{name:'/CFS/CFE_EVS/AppData_31_EnableStatus'}]}) ---
                   td
            footer
              button.btn.btn-primary(data-sage={cmd:{name:'/CFS/CFE_EVS/FileWriteAppData'}}) Write To File
              .btn-group.dropup
                button.btn.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown')
                  | Reset App Counters
                  span.caret
                ul#ResetAppCounters.dropdown-menu(role='menu')
                  li
                    a(data-sage={cmd:{name:'/CFS/CFE_EVS/ResetAppCounter', Parameters:[{Name:'AppName', Value:'CFE_ES'}]}}, data-placement="left") CFE_ES
                  li
                    a(data-sage={cmd:{name:'/CFS/CFE_EVS/ResetAppCounter', Parameters:[{Name:'AppName', Value:'CF_EVS'}]}}, data-placement="left") CFE_EVS
                  li
                    a(data-sage={cmd:{name:'/CFS/CFE_EVS/ResetAppCounter', Parameters:[{Name:'AppName', Value:'CFE_SB'}]}}, data-placement="left") CFE_SB
                  li
                    a(data-sage={cmd:{name:'/CFS/CFE_EVS/ResetAppCounter', Parameters:[{Name:'AppName', Value:'CFE_TBL'}]}}, data-placement="left") CFE_TBL
                  li
                    a(data-sage={cmd:{name:'/CFS/CFE_EVS/ResetAppCounter', Parameters:[{Name:'AppName', Value:'CFE_TIME'}]}}, data-placement="left") CFE_TIME
                  li
                    a(data-sage={cmd:{name:'/CFS/CFE_EVS/ResetAppCounter', Parameters:[{Name:'AppName', Value:'CF'}]}}, data-placement="left") CF
                  li
                    a(data-sage={cmd:{name:'/CFS/CFE_EVS/ResetAppCounter', Parameters:[{Name:'AppName', Value:'CIO'}]}}, data-placement="left") CIO
                  li
                    a(data-sage={cmd:{name:'/CFS/CFE_EVS/ResetAppCounter', Parameters:[{Name:'AppName', Value:'CS'}]}}, data-placement="left") CS
                  li
                    a(data-sage={cmd:{name:'/CFS/CFE_EVS/ResetAppCounter', Parameters:[{Name:'AppName', Value:'DS'}]}}, data-placement="left") DS
                  li
                    a(data-sage={cmd:{name:'/CFS/CFE_EVS/ResetAppCounter', Parameters:[{Name:'AppName', Value:'EIM'}]}}, data-placement="left") EIM
                  li
                    a(data-sage={cmd:{name:'/CFS/CFE_EVS/ResetAppCounter', Parameters:[{Name:'AppName', Value:'FM'}]}}, data-placement="left") FM
                  li
                    a(data-sage={cmd:{name:'/CFS/CFE_EVS/ResetAppCounter', Parameters:[{Name:'AppName', Value:'HK'}]}}, data-placement="left") HK
                  li
                    a(data-sage={cmd:{name:'/CFS/CFE_EVS/ResetAppCounter', Parameters:[{Name:'AppName', Value:'LC'}]}}, data-placement="left") LC
                  li
                    a(data-sage={cmd:{name:'/CFS/CFE_EVS/ResetAppCounter', Parameters:[{Name:'AppName', Value:'MD'}]}}, data-placement="left") MD
                  li
                    a(data-sage={cmd:{name:'/CFS/CFE_EVS/ResetAppCounter', Parameters:[{Name:'AppName', Value:'MM'}]}}, data-placement="left") MM
                  li
                    a(data-sage={cmd:{name:'/CFS/CFE_EVS/ResetAppCounter', Parameters:[{Name:'AppName', Value:'SC'}]}}, data-placement="left") SC
                  li
                    a(data-sage={cmd:{name:'/CFS/CFE_EVS/ResetAppCounter', Parameters:[{Name:'AppName', Value:'SCH'}]}}, data-placement="left") SCH
    
  

  script.
    var AppIDtoName = function(value) {
      //return value;
      switch(value){
        case 0:
          return 'CFE_EVS';

        case 1:
          return 'CFE_SB';

        case 2:
          return 'CFE_ES';

        case 3:
          return 'CFE_TIME';

        case 4:
          return 'CFE_TBL';

        case 5:
          return 'SCH';

        case 6:
          return 'TO';

        case 7:
          return 'CI';

        case 8:
          return 'PX4BR';

        case 9:
          return 'SCH';

        case 10:
          return 'CS';

        case 11:
          return 'DS';

        case 12:
          return 'FM';

        case 13:
          return 'HK';

        case 14:
          return 'FM';

        case 15:
          return 'LC';

        case 16:
          return 'MD';

        case 17:
          return 'MM';

        case 18:
          return 'HS';

        case 19:
          return 'ETA';

        default:
          return '???';
      }
    }
