extends ../../common/layout

block header
        i.fa-fw.fa.fa-signal
        | File Manager

block main
  .row
    article.col-xs-12.col-sm-12.col-md-6.col-lg-4(style={width:'300px'}) 
      #wid-FM-CmdAndData.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
        header
          span.widget-icon
            i.fa.fa-table
          h2 Cmd and Data
        div
          .jarviswidget-editbox
            input.form-control(type='text')
          .widget-body
            .table-responsive
              table.table.table-condensed
                tbody
                  tr
                    th(style={width:'180px'})  Cmd Count
                    td
                      span(data-sage={tlm:[{name:'/CFS/FM/CommandCounter'}]}) ---
                  tr
                    th Cmd Error Count
                    td
                      span(data-sage={tlm:[{name:'/CFS/FM/CommandErrCounter'}]}) ---
                  tr
                    th Cmd Warning Count
                    td
                      span(data-sage={tlm:[{name:'/CFS/FM/CommandWarnCounter'}]}) ---
                  tr
                    th Child Cmd Count
                    td
                      span(data-sage={tlm:[{name:'/CFS/FM/ChildCmdCounter'}]}) ---
                  tr
                    th Child Cmd Err Count
                    td
                      span(data-sage={tlm:[{name:'/CFS/FM/ChildCmdErrCounter'}]}) ---
                  tr
                    th Child Cmd Warn Count
                    td
                      span(data-sage={tlm:[{name:'/CFS/FM/ChildCmdWarnCounter'}]}) ---
                  tr
                    th Open Files
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/NumOpenFiles'}]}) ---
                  tr
                    th Child Queue Count
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/ChildQueueCount'}]}) ---
                  tr
                    th Child Current CC
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/ChildCurrentCC'}]}) ---
                  tr
                    th Child Prev CC
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/ChildPreviousCC'}]}) ---
            footer
              .btn-group
                button.btn.btn-primary(data-sage={cmd:{name:'/CFS/FM/NoOp'}}) No-Op
                button.btn.btn-primary(data-sage={cmd:{name:'/CFS/FM/Reset'}}) Reset
                button.btn.btn-primary(data-sage={cmd:{name:'/CFS/FM/SetTableState'}}) Set Table State
              
    article.col-xs-3.col-sm-3.col-md-2.col-lg-2(style={width:'150px'}) 
      #wid-FM-Ops.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
        header
          span.widget-icon
            i.fa.fa-table
          h2 Operations
        div
          .jarviswidget-editbox
            input.form-control(type='text')
          .widget-body
            .btn-group-vertical.btn-group-sm.btn-space
              button.btn.btn-space.btn-primary(data-sage={cmd:{name:'/CFS/FM/Copy'}}) Copy
              button.btn.btn-space.btn-primary(data-sage={cmd:{name:'/CFS/FM/Move'}}) Move
              button.btn.btn-space.btn-primary(data-sage={cmd:{name:'/CFS/FM/Rename'}}) Rename
              button.btn.btn-space.btn-primary(data-sage={cmd:{name:'/CFS/FM/Delete'}}) Delete
              button.btn.btn-space.btn-primary(data-sage={cmd:{name:'/CFS/FM/DeleteAll'}}) Delete All
              button.btn.btn-space.btn-primary(data-sage={cmd:{name:'/CFS/FM/Decompress'}}) Decompress
              button.btn.btn-space.btn-primary(data-sage={cmd:{name:'/CFS/FM/Concat'}}) Concat
              button.btn.btn-space.btn-primary(data-sage={cmd:{name:'/CFS/FM/CreateDir'}}) Create Dir
              button.btn.btn-space.btn-primary(data-sage={cmd:{name:'/CFS/FM/DeleteDir'}}) Delete Dir
    
    article.col-xs-12.col-sm-12.col-md-6.col-lg-3(style={width:'720px'})
      #wid-FM-OpenFiles.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
        header
          span.widget-icon
            i.fa.fa-table
          h2 
            table
              tr
                td(style={width:'100px'}) Open Files
                td(style={width:'100px'}) (
                  span(data-sage={tlm:[{name:'/CFS/FM/Count'}]}) ---
                  | )
                td(style={width:'100px'}) 
                  button.btn.btn-xs.btn-primary.btn-labeled(data-sage={cmd:{name:'/CFS/FM/GetOpenFiles'}}) Send
        div
          .jarviswidget-editbox
            input.form-control(type='text')
          .widget-body
            .table-responsive
              table.table.table-condensed
                thead
                  tr
                    th(style={width:'50px'})  
                    th(style={width:'100px'})  Logical Name
                    th(style={width:'100px'})  App Name
                    th(style={width:'50px'})  
                    th(style={width:'50px'})  
                    th(style={width:'100px'})  Logical Name
                    th App Name
                tbody
                  tr
                    th 0
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_0_LogicalName'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_0_AppName'}]}) ---
                    td
                    th 1
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_1_LogicalName'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_1_AppName'}]}) ---
                  tr
                    th 2
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_2_LogicalName'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_2_AppName'}]}) ---
                    td
                    th 3
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_3_LogicalName'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_3_AppName'}]}) ---
                  tr
                    th 4
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_4_LogicalName'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_4_AppName'}]}) ---
                    td
                    th 5
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_5_LogicalName'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_5_AppName'}]}) ---
                  tr
                    th 6
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_6_LogicalName'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_6_AppName'}]}) ---
                    td
                    th 7
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_7_LogicalName'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_7_AppName'}]}) ---
                  tr
                    th 8
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_8_LogicalName'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_8_AppName'}]}) ---
                    td
                    th 9
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_9_LogicalName'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_9_AppName'}]}) ---
                  tr
                    th 10
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_10_LogicalName'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_10_AppName'}]}) ---
                    td
                    th 11
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_11_LogicalName'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_11_AppName'}]}) ---
                  tr
                    th 12
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_12_LogicalName'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_12_AppName'}]}) ---
                    td
                    th 13
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_13_LogicalName'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_13_AppName'}]}) ---
                  tr
                    th 14
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_14_LogicalName'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_14_AppName'}]}) ---
                    td
                    th 15
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_15_LogicalName'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_15_AppName'}]}) ---
                  tr
                    th 16
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_16_LogicalName'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_16_AppName'}]}) ---
                    td
                    th 17
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_17_LogicalName'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_17_AppName'}]}) ---
                  tr
                    th 18
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_18_LogicalName'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_18_AppName'}]}) ---
                    td
                    th 19
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_19_LogicalName'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_19_AppName'}]}) ---
                  tr
                    th 20
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_20_LogicalName'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_20_AppName'}]}) ---
                    td
                    th 21
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_21_LogicalName'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_21_AppName'}]}) ---
                  tr
                    th 22
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_22_LogicalName'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_22_AppName'}]}) ---
                    td
                    th 23
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_23_LogicalName'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_23_AppName'}]}) ---
                  tr
                    th 24
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_24_LogicalName'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_24_AppName'}]}) ---
                    td
                    th 25
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_25_LogicalName'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_25_AppName'}]}) ---
                  tr
                    th 26
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_26_LogicalName'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_26_AppName'}]}) ---
                    td
                    th 27
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_27_LogicalName'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_27_AppName'}]}) ---
                  tr
                    th 28
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_28_LogicalName'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_28_AppName'}]}) ---
                    td
                    th 29
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_29_LogicalName'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_29_AppName'}]}) ---
                  tr
                    th 30
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_30_LogicalName'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_30_AppName'}]}) ---
                    td
                    th 31
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_31_LogicalName'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_31_AppName'}]}) ---
                  tr
                    th 32
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_32_LogicalName'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_32_AppName'}]}) ---
                    td
                    th 33
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_33_LogicalName'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_33_AppName'}]}) ---
                  tr
                    th 34
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_34_LogicalName'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_34_AppName'}]}) ---
                    td
                    th 35
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_35_LogicalName'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_35_AppName'}]}) ---
                  tr
                    th 36
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_36_LogicalName'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_36_AppName'}]}) ---
                    td
                    th 37
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_37_LogicalName'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_37_AppName'}]}) ---
                  tr
                    th 38
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_38_LogicalName'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_38_AppName'}]}) ---
                    td
                    th 39
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_39_LogicalName'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_39_AppName'}]}) ---
                  tr
                    th 40
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_40_LogicalName'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_40_AppName'}]}) ---
                    td
                    th 41
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_41_LogicalName'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_41_AppName'}]}) ---
                  tr
                    th 42
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_42_LogicalName'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_42_AppName'}]}) ---
                    td
                    th 43
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_43_LogicalName'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_43_AppName'}]}) ---
                  tr
                    th 44
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_44_LogicalName'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_44_AppName'}]}) ---
                    td
                    th 45
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_45_LogicalName'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_45_AppName'}]}) ---
                  tr
                    th 46
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_46_LogicalName'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_46_AppName'}]}) ---
                    td
                    th 47
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_47_LogicalName'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_47_AppName'}]}) ---
                  tr
                    th 48
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_48_LogicalName'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_48_AppName'}]}) ---
                    td
                    th 49
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_49_LogicalName'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_49_AppName'}]}) ---              
    
    article.col-xs-12.col-sm-12.col-md-6.col-lg-3(style={width:'450px'})
      #wid-FM-FreeSpace.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
        header
          span.widget-icon
            i.fa.fa-table
          h2 
            table
              tr
                td(style={width:'100px'}) Free Space
                td(style={width:'100px'}) 
                  button.btn.btn-xs.btn-primary.btn-labeled(data-sage={cmd:{name:'/CFS/FM/GetFreeSpace'}}) Send
        div
          .jarviswidget-editbox
            input.form-control(type='text')
          .widget-body
            .table-responsive
              table.table.table-condensed
                thead
                  tr
                    th(style={width:'50px'}) 
                    th(style={width:'100px'})  Hi
                    th(style={width:'100px'})  Low
                    th(style={width:'150px'})  Name
                tbody
                  tr
                    th 0
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/FileSys_0_Hi'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/FileSys_0_Lo'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/FileSys_0_Name'}]}) ---
                  tr
                    th 1
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/FileSys_1_Hi'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/FileSys_1_Lo'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/FileSys_1_Name'}]}) ---
                  tr
                    th 2
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/FileSys_2_Hi'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/FileSys_2_Lo'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/FileSys_2_Name'}]}) ---
                  tr
                    th 3
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/FileSys_3_Hi'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/FileSys_3_Lo'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/FileSys_3_Name'}]}) ---
                  tr
                    th 4
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/FileSys_4_Hi'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/FileSys_4_Lo'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/FileSys_4_Name'}]}) ---
                  tr
                    th 5
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/FileSys_5_Hi'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/FileSys_5_Lo'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/FileSys_5_Name'}]}) ---
                  tr
                    th 6
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/FileSys_6_Hi'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/FileSys_6_Lo'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/FileSys_6_Name'}]}) ---
                  tr
                    th 7
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/FileSys_7_Hi'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/FileSys_7_Lo'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/FileSys_7_Name'}]}) ---

  .row
    article.col-xs-12.col-sm-12.col-md-6.col-lg-3(style={width:'300px'}) 
      #wid-FM-FileInfo.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
        header
          span.widget-icon
            i.fa.fa-table
          h2 
            table
              tr
                td(style={width:'100px'}) File Info
                td(style={width:'100px'}) 
                  button.btn.btn-xs.btn-primary.btn-labeled(data-sage={cmd:{name:'/CFS/FM/GetFileInfo'}}) Get File Info
        div
          .jarviswidget-editbox
            input.form-control(type='text')
          .widget-body
            .table-responsive
              table.table.table-condensed
                tbody
                  tr
                    th(style={width:'150px'})  Status
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Status'}]}) ---
                  tr
                    th CRC Computed
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/CRCComputed'}]}) ---
                  tr
                    th CRC
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/CRC', Format:'0x%08x'}]}) ---
                  tr
                    th Size
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Size'}]}) ---
                  tr
                    th Last Modified Time
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/LastModifiedTime'}]}) ---
                  tr
                    th Name
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Name'}]}) ---
    
    article.col-xs-12.col-sm-12.col-md-6.col-lg-3(style={width:'600px'}) 
      #wid-FM-DirList.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
        header
          span.widget-icon
            i.fa.fa-table
          h2 
            table
              tr
                td(style={width:'100px'}) Directory List
                td(style={width:'200px'}) 
                  .btn-group
                    button.btn.btn-xs.btn-primary.btn-labeled(data-sage={cmd:{name:'/CFS/FM/GetDirFile'}}) Get Dir File
                    button.btn.btn-xs.btn-primary.btn-labeled(data-sage={cmd:{name:'/CFS/FM/GetDirPkt'}}) Get Dir Pkt
        div
          .jarviswidget-editbox
            input.form-control(type='text')
          .widget-body
            .table-responsive
              table.table.table-condensed
                tbody
                  tr
                    th(style={width:'150px'})  Directory Name
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/DirName'}]}) ---
                  tr
                    th Total Files
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/TotalFiles'}]}) ---
                  tr
                    th Packet Files
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/PacketFiles'}]}) ---
                  tr
                    th First File
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/FirstFile'}]}) ---
            .table-responsive
              table.table.table-condensed
                thead
                  tr
                    th(style={width:'100px'})  Size
                    th(style={width:'200px'}) Modify Time
                    th(style={width:'250px'}) Name
                tbody
                  tr
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_0_EntrySize'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_0_ModifyTime'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_0_EntryName'}]}) ---
                  tr
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_1_EntrySize'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_1_ModifyTime'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_1_EntryName'}]}) ---
                  tr
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_2_EntrySize'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_2_ModifyTime'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_2_EntryName'}]}) ---
                  tr
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_3_EntrySize'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_3_ModifyTime'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_3_EntryName'}]}) ---
                  tr
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_4_EntrySize'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_4_ModifyTime'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_4_EntryName'}]}) ---
                  tr
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_5_EntrySize'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_5_ModifyTime'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_5_EntryName'}]}) ---
                  tr
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_6_EntrySize'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_6_ModifyTime'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_6_EntryName'}]}) ---
                  tr
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_7_EntrySize'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_7_ModifyTime'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_7_EntryName'}]}) ---
                  tr
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_8_EntrySize'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_8_ModifyTime'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_8_EntryName'}]}) ---
                  tr
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_9_EntrySize'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_9_ModifyTime'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_9_EntryName'}]}) ---
                  tr
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_10_EntrySize'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_10_ModifyTime'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_10_EntryName'}]}) ---
                  tr
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_11_EntrySize'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_11_ModifyTime'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_11_EntryName'}]}) ---
                  tr
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_12_EntrySize'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_12_ModifyTime'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_12_EntryName'}]}) ---
                  tr
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_13_EntrySize'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_13_ModifyTime'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_13_EntryName'}]}) ---
                  tr
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_14_EntrySize'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_14_ModifyTime'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_14_EntryName'}]}) ---
                  tr
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_15_EntrySize'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_15_ModifyTime'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_15_EntryName'}]}) ---
                  tr
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_16_EntrySize'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_16_ModifyTime'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_16_EntryName'}]}) ---
                  tr
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_17_EntrySize'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_17_ModifyTime'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_17_EntryName'}]}) ---
                  tr
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_18_EntrySize'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_18_ModifyTime'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_18_EntryName'}]}) ---
                  tr
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_19_EntrySize'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_19_ModifyTime'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_19_EntryName'}]}) ---

  
                    
    article.col-xs-12.col-sm-12.col-md-6.col-lg-4
      #wid-FM-AppCtrl-ApplicationControl.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
        header
          span.widget-icon
            i.fa.fa-table
          h2 Application Control
        div
          .jarviswidget-editbox
            input.form-control(type='text')
          .widget-body
            .table-responsive
              table.table.table-condensed.table-app-status
                tbody
                  tr
                    th App Name
                    td
                      span(data-sage={tlm: [{name: '/CFS/CFE_ES/AppInfo_Name'}]}) ---
                  tr
                    th ID
                    td
                      span(data-sage={tlm: [{name: '/CFS/CFE_ES/AppInfo_AppID'}]}) ---
                  tr
                    th Type
                    td
                      span(data-sage={tlm: [{name: '/CFS/CFE_ES/AppInfo_Type'}]}) ---
                  tr
                    th Entry Point
                    td
                      span(data-sage={tlm: [{name: '/CFS/CFE_ES/AppInfo_EntryPoint'}]}) ---
                  tr
                    th File Name
                    td
                      span(data-sage={tlm: [{name: '/CFS/CFE_ES/AppInfo_FileName'}]}) ---
                  tr 
                    th Stack Size
                    td
                      span(data-sage={tlm: [{name: '/CFS/CFE_ES/AppInfo_StackSize'}]}) ---
                  tr
                    th Module ID
                    td
                      span(data-sage={tlm: [{name: '/CFS/CFE_ES/AppInfo_ModuleID'}]}) ---
                  tr
                    th Addr valid
                    td
                      span(data-sage={tlm: [{name: '/CFS/CFE_ES/AppInfo_AddressesAreValid'}]}) ---
                  tr 
                    th Code addr
                    td
                      span(data-sage={tlm: [{name: '/CFS/CFE_ES/AppInfo_CodeAddress', format:'0x%08x'}]}) ---
                  tr
                    th Code size
                    td
                      span(data-sage={tlm: [{name: '/CFS/CFE_ES/AppInfo_CodeSize'}]}) ---
                  tr
                    th Data Addr
                    td
                      span(data-sage={tlm: [{name: '/CFS/CFE_ES/AppInfo_DataAddress', format:'0x%08x'}]}) ---
                  tr
                    th Data Size
                    td
                      span(data-sage={tlm: [{name: '/CFS/CFE_ES/AppInfo_DataSize'}]}) ---
                  tr
                    th BSS Addr
                    td
                      span(data-sage={tlm: [{name: '/CFS/CFE_ES/AppInfo_BSSAddress', format:'0x%08x'}]}) ---
                  tr
                    th BSS Size
                    td
                      span(data-sage={tlm: [{name: '/CFS/CFE_ES/AppInfo_BSSSize'}]}) ---
                  tr
                    th Start Addr
                    td
                      span(data-sage={tlm: [{name: '/CFS/CFE_ES/AppInfo_StartAddress', format:'0x%08x'}]}) ---
                  tr 
                    th Exception Action
                    td              
                      span(data-sage={tlm: [{name: '/CFS/CFE_ES/AppInfo_ExceptionAction'}]}) ---
                  tr
                    th Priority
                    td
                      span(data-sage={tlm: [{name: '/CFS/CFE_ES/AppInfo_Priority'}]}) ---
                  tr
                    th Main Task ID
                    td
                      span(data-sage={tlm: [{name: '/CFS/CFE_ES/AppInfo_MainTaskId'}]}) ---
                  tr
                    th Execution Counter
                    td
                      span(data-sage={tlm: [{name: '/CFS/CFE_ES/AppInfo_ExecutionCounter'}]}) ---
                  tr 
                    th Main Task Name
                    td
                      span(data-sage={tlm: [{name: '/CFS/CFE_ES/AppInfo_MainTaskName'}]}) ---
                  tr
                    th Child Task Count
                    td
                     span(data-sage={tlm: [{name: '/CFS/CFE_ES/AppInfo_NumOfChildTasks'}]}) ---
            .btn-group.dropup(style='margin-top: 10px;')
              button.btn.btn-primary(data-sage={cmd: {name: '/CFS/CFE_ES/QueryOne', argument:[{name:'Name', value:'FM'}]}}) Query
              button.btn.btn-primary(data-sage={cmd: {name: '/CFS/CFE_ES/StartApp', argument:[{name:'Name', value:'FM'},{name:'EntryPoint', value:'FM_AppMain'},{name:'FileName', value:'/cf/apps/fm.so'},{name:'StackSize', value:'32768'},{name:'ExceptionAction', value:'0'},{name:'Priority', value:'50'}]}}) Start
              button.btn.btn-primary(data-sage={cmd: {name: '/CFS/CFE_ES/StopApp', argument:[{name:'Name', value:'FM'}]}}) Stop
              button.btn.btn-primary(data-sage={cmd: {name: '/CFS/CFE_ES/RestartApp', argument:[{name:'Name', value:'FM'}]}}) Restart
              button.btn.btn-primary(data-sage={cmd: {name: '/CFS/CFE_ES/ReloadApp', argument:[{name:'Name', value:'FM'},{name:'FileName', value:'/cf/apps/fm.so'}]}}) Reload

  .row
    - 
      var schDef = {
        slotCount:200,
        entriesPerSlot:5,
        appName:'FM',
        slots:[
          {id:63, activities:[1]}],
        groups:[]};
  
    article.col-xs-12.col-sm-12.col-md-12.col-lg-5
      #wid-FM-SCH.jarviswidget.jarviswidget-color-blueDark(style='width: 860px' data-widget-editbutton='false')
        header
          span.widget-icon
            i.fa.fa-table
          h2 Scheduler 
            button.btn.btn-xs.btn-primary.btn-labeled(data-sage={cmd:{name:'/CFS/SCH/SendDiagTlm'}}) Send Schedule
        div
          .jarviswidget-editbox
            input.form-control(type='text')
          .widget-body
            .table-responsive
              table.table.table-condensed
                tbody
                  tr
                    th(style='width: 150px') Cmd Count
                    td
                      span(data-sage={tlm: [{name:'/CFS/SCH/CmdCounter'}]}) ---
                  tr
                    th Error Count
                    td
                      span(data-sage={tlm: [{name:'/CFS/SCH/ErrCounter'}]}) ---
            .table-responsive
              table.table.table-bordered.table-condensed
                thead
                  tr
                    th(style="width: 100px") Slot #
                    th(style="width: 100px") Activity #
                    th(style="width: 150px") State
                    th MsgID
                    th(style="width: 150px") Action
                tbody
                  - for (var slotIdx = 0; slotIdx < schDef.slots.length; ++slotIdx) {
                    - var slotID = schDef.slots[slotIdx].id;
                    - var strSlotID = '' + slotID;
                    - for (var actIdx = 0; actIdx < schDef.slots[slotIdx].activities.length; ++actIdx){
                      - var actID = schDef.slots[slotIdx].activities[actIdx];
                      - var strActID =  '' + actID;
                      - var entryID = (schDef.entriesPerSlot * slotID) + actID;
                      - var strEntryID = '' + entryID;
                      - var tlmEntryState = {tlm:[{name:'/CFS/SCH/EntryState_'+entryID}]};
                      - var tlmMsgID = {tlm:[{name:'/CFS/SCH/MsgID_'+entryID}]};
                      - var cmdEnableEntry = {cmd: {name:'/CFS/SCH/EnableEntry', argument:[{name:'Slot', value:strSlotID},{name:'Entry', value:strActID}]}};
                      - var cmdDisableEntry = {cmd: {name:'/CFS/SCH/DisableEntry', argument:[{name:'Slot', value:strSlotID},{name:'Entry', value:strActID}]}};
                      tr
                        td #{slotID}
                        td #{strActID}
                        td 
                          span(data-sage= tlmEntryState) ---
                        td
                          span(data-sage= tlmMsgID) ---
                        td
                          .btn-group.dropup
                            button.btn.btn-xs.btn-primary.btn-labeled(data-sage= cmdEnableEntry) Ena
                            button.btn.btn-xs.btn-primary.btn-labeled(data-sage= cmdDisableEntry) Dis
                    - };
                  - };
            .table-responsive
              table.table.table-bordered.table-condensed
                thead
                  tr
                    th(style="width: 100px") Group Name
                    th(style="width: 100px") Group ID
                    th(style="width: 150px") Action
                tbody
                  - for (var grpIdx = 0; grpIdx < schDef.groups.length; ++grpIdx) {
                    - var grpName = schDef.groups[grpIdx].name;
                    - var grpID = schDef.groups[grpIdx].id;
                    - var strGrpID = '0x' + grpID.toString(16);
                    - var cmdEnableGroup = {cmd: {name:'/CFS/SCH/EnableGroup', argument:[{name:'Group', value:strGrpID}]}};
                    - var cmdDisableGroup = {cmd: {name:'/CFS/SCH/DisableGroup', argument:[{name:'Group', value:strGrpID}]}};
                    tr
                      td #{grpName}
                      td(style='font-family: monospace') #{strGrpID}
                      td
                        .btn-group.dropup
                          button.btn.btn-xs.btn-primary.btn-labeled(data-sage= cmdEnableGroup) Ena
                          button.btn.btn-xs.btn-primary.btn-labeled(data-sage= cmdDisableGroup) Dis
                  - };

  .row
    article.col-xs-12.col-sm-12.col-md-10.col-lg-6(style={width:'500px'})               
      #wid-FM-Events.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
        header
          span.widget-icon
            i.fa.fa-table
          h2 Event Filter
        div
          .jarviswidget-editbox
            input.form-control(type='text')
          .widget-body
            .table-responsive
              table.table.table-condensed
                tbody
                  tr
                    th(style={width:'250px'}) CFE EVS Cmd Count
                    td(style={width:'150px'})
                      span(data-sage={tlm: [{name: '/CFS/CFE_EVS/CmdCounter'}]}) ---
                  tr
                    th CFE EVS Cmd Err Count
                    td
                      span(data-sage={tlm: [{name: '/CFS/CFE_EVS/ErrCounter'}]}) ---
                  tr
                    th App Events
                    td 
                      .btn-group
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/EnableAppEvents', argument:[{name:'AppName', value:'FM'}]}}) Enable
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/DisableAppEvents', argument:[{name:'AppName', value:'FM'}]}}) Disable
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/ResetAllFilters', argument:[{name:'AppName', value:'FM'}]}}) Reset
                  tr
                    th Event Types
                    td
                  tr
                    td(style='padding-left: 20px !important') Critical
                    td
                      .btn-group
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/EnableAppEventType', argument:[{name:'AppName', value:'FM'},{name:'Critical', value:'Ignored'},{name:'Error', value:'Ignored'},{name:'Information', value:'Set'},{name:'Debug', value:'Ignored'},{name:'Spare', value:'0'}]}}) Enable
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/DisableAppEventType', argument:[{name:'AppName', value:'FM'},{name:'Critical', value:'Ignored'},{name:'Error', value:'Ignored'},{name:'Information', value:'Set'},{name:'Debug', value:'Ignored'},{name:'Spare', value:'0'}]}}) Disable
                  tr
                    td(style='padding-left: 20px !important')  Error
                    td
                      .btn-group
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/EnableAppEventType', argument:[{name:'AppName', value:'FM'},{name:'Critical', value:'Ignored'},{name:'Error', value:'Set'},{name:'Information', value:'Ignored'},{name:'Debug', value:'Ignored'},{name:'Spare', value:'0'}]}}) Enable
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/DisableAppEventType', argument:[{name:'AppName', value:'FM'},{name:'Critical', value:'Ignored'},{name:'Error', value:'Set'},{name:'Information', value:'Ignored'},{name:'Debug', value:'Ignored'},{name:'Spare', value:'0'}]}}) Disable
                  tr
                    td(style='padding-left: 20px !important')  Info
                    td
                      .btn-group
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/EnableAppEventType', argument:[{name:'AppName', value:'FM'},{name:'Critical', value:'Ignored'},{name:'Error', value:'Ignored'},{name:'Information', value:'Set'},{name:'Error', value:'Ignored'},{name:'Spare', value:'0'}]}}) Enable
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/DisableAppEventType', argument:[{name:'AppName', value:'FM'},{name:'Critical', value:'Ignored'},{name:'Error', value:'Ignored'},{name:'Information', value:'Set'},{name:'Debug', value:'Ignored'},{name:'Spare', value:'0'}]}}) Disable
                  tr
                    td(style='padding-left: 20px !important')  Debug
                    td
                      .btn-group
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/EnableAppEventType', argument:[{name:'AppName', value:'FM'},{name:'Critical', value:'Ignored'},{name:'Error', value:'Ignored'},{name:'Information', value:'Ignored'},{name:'Debug', value:'Set'},{name:'Spare', value:'0'}]}}) Enable
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/DisableAppEventType', argument:[{name:'AppName', value:'FM'},{name:'Critical', value:'Ignored'},{name:'Error', value:'Ignored'},{name:'Information', value:'Ignored'},{name:'Debug', value:'Set'},{name:'Spare', value:'0'}]}}) Disable
                  tr
                    th Event IDs
                    td
                  - 
                    var eventDef = {
                      appName:'FM',
                      events:[
                        {name:'FM_STARTUP_EID', eventID:1},
                        {name:'FM_STARTUP_EVENTS_ERR_EID', eventID:2},
                        {name:'FM_STARTUP_CREAT_PIPE_ERR', eventID:3},
                        {name:'FM_STARTUP_SUBSCRIB_HK_ERR', eventID:4},
                        {name:'FM_STARTUP_SUBSCRIB_GCMD_ERR', eventID:5},
                        {name:'FM_STARTUP_TABLE_INIT_ERR', eventID:6},
                        {name:'FM_SB_RECEIVE_ERR', eventID:7},
                        {name:'FM_EXIT_ERR', eventID:8},
                        {name:'FM_MID_ERR', eventID:9},
                        {name:'FM_CC_ERR', eventID:10},
                        {name:'FM_HK_REQ_ERR', eventID:11},
                        {name:'FM_NOOP_CMD', eventID:12},
                        {name:'FM_NOOP_PKT_ERR', eventID:13},
                        {name:'FM_RESET_CMD', eventID:14},
                        {name:'FM_RESET_PKT_ERR', eventID:15},
                        {name:'FM_COPY_CMD', eventID:16},
                        {name:'FM_COPY_PKT_ERR', eventID:17},
                        {name:'FM_COPY_OVR_ERR', eventID:18},
                        {name:'FM_COPY_SRC_ERR', eventID:19},
                        {name:'FM_COPY_TGT_ERR', eventID:20},
                        {name:'FM_COPY_CHILD_ERR', eventID:21},
                        {name:'FM_COPY_OS_ERR', eventID:22},
                        {name:'FM_MOVE_CMD', eventID:23},
                        {name:'FM_MOVE_PKT_ERR', eventID:24},
                        {name:'FM_MOVE_OVR_ERR', eventID:25},
                        {name:'FM_MOVE_SRC_ERR', eventID:26},
                        {name:'FM_MOVE_TGT_ERR', eventID:27},
                        {name:'FM_MOVE_CHILD_ERR', eventID:28},
                        {name:'FM_MOVE_OS_ERR', eventID:29},
                        {name:'FM_RENAME_CMD', eventID:30},
                        {name:'FM_RENAME_PKT_ERR', eventID:31},
                        {name:'FM_RENAME_SRC_ERR', eventID:32},
                        {name:'FM_RENAME_TGT_ERR', eventID:33},
                        {name:'FM_RENAME_CHILD_ERR', eventID:34},
                        {name:'FM_RENAME_OS_ERR', eventID:35},
                        {name:'FM_DELETE_CMD', eventID:36},
                        {name:'FM_DELETE_PKT_ERR', eventID:37},
                        {name:'FM_DELETE_SRC_ERR', eventID:38},
                        {name:'FM_DELETE_CHILD_ERR', eventID:39},
                        {name:'FM_DELETE_OS_ERR', eventID:40},
                        {name:'FM_DELETE_ALL_CMD', eventID:41},
                        {name:'FM_DELETE_ALL_WARNING', eventID:42},
                        {name:'FM_DELETE_ALL_PKT_ERR', eventID:43},
                        {name:'FM_DELETE_ALL_SRC_ERR', eventID:44},
                        {name:'FM_DELETE_ALL_CHILD_ERR', eventID:45},
                        {name:'FM_DELETE_ALL_OS_ERR', eventID:46},
                        {name:'FM_DECOM_CMD', eventID:47},
                        {name:'FM_DECOM_PKT_ERR', eventID:48},
                        {name:'FM_DECOM_SRC_ERR', eventID:49},
                        {name:'FM_DECOM_TGT_ERR', eventID:50},
                        {name:'FM_DECOM_CHILD_ERR', eventID:51},
                        {name:'FM_DECOM_CFE_ERR', eventID:52},
                        {name:'FM_CONCAT_CMD', eventID:53},
                        {name:'FM_CONCAT_PKT_ERR', eventID:54},
                        {name:'FM_CONCAT_SRC1_ERR', eventID:55},
                        {name:'FM_CONCAT_SRC2_ERR', eventID:56},
                        {name:'FM_CONCAT_TGT_ERR', eventID:57},
                        {name:'FM_CONCAT_CHILD_ERR', eventID:58},
                        {name:'FM_CONCAT_OS_ERR', eventID:59},
                        {name:'FM_GET_FILE_INFO_CMD', eventID:60},
                        {name:'FM_GET_FILE_INFO_PKT_ERR', eventID:61},
                        {name:'FM_GET_FILE_INFO_SRC_ERR', eventID:62},
                        {name:'FM_GET_FILE_INFO_CHILD_ERR', eventID:63},
                        {name:'FM_GET_FILE_INFO_WARNING', eventID:64},
                        {name:'FM_GET_OPEN_FILES_CMD', eventID:65},
                        {name:'FM_GET_OPEN_FILES_PKT_ERR', eventID:66},
                        {name:'FM_CREATE_DIR_CMD', eventID:67},
                        {name:'FM_CREATE_DIR_PKT_ERR', eventID:68},
                        {name:'FM_CREATE_DIR_SRC_ERR', eventID:69},
                        {name:'FM_CREATE_DIR_CHILD_ERR', eventID:70},
                        {name:'FM_CREATE_DIR_OS_ERR', eventID:71},
                        {name:'FM_DELETE_DIR_CMD', eventID:72},
                        {name:'FM_DELETE_DIR_PKT_ERR', eventID:73},
                        {name:'FM_DELETE_DIR_SRC_ERR', eventID:74},
                        {name:'FM_DELETE_DIR_CHILD_ERR', eventID:75},
                        {name:'FM_DELETE_DIR_EMPTY_ERR', eventID:76},
                        {name:'FM_DELETE_DIR_OS_ERR', eventID:77},
                        {name:'FM_GET_DIR_FILE_CMD', eventID:78},
                        {name:'FM_GET_DIR_FILE_PKT_ERR', eventID:79},
                        {name:'FM_GET_DIR_FILE_SRC_ERR', eventID:80},
                        {name:'FM_GET_DIR_FILE_TGT_ERR', eventID:81},
                        {name:'FM_GET_DIR_FILE_WARNING', eventID:82},
                        {name:'FM_GET_DIR_FILE_CHILD_ERR', eventID:83},
                        {name:'FM_GET_DIR_FILE_OS_ERR', eventID:84},
                        {name:'FM_GET_DIR_PKT_CMD', eventID:85},
                        {name:'FM_GET_DIR_PKT_WARNING', eventID:86},
                        {name:'FM_GET_DIR_PKT_PKT_ERR', eventID:87},
                        {name:'FM_GET_DIR_PKT_SRC_ERR', eventID:88},
                        {name:'FM_GET_DIR_PKT_CHILD_ERR', eventID:89},
                        {name:'FM_GET_DIR_PKT_OS_ERR', eventID:90},
                        {name:'FM_GET_FREE_SPACE_CMD', eventID:91},
                        {name:'FM_GET_FREE_SPACE_PKT_ERR', eventID:92},
                        {name:'FM_GET_FREE_SPACE_TBL_ERR', eventID:93},
                        {name:'FM_SET_TABLE_STATE_CMD', eventID:94},
                        {name:'FM_SET_TABLE_STATE_PKT_ERR', eventID:95},
                        {name:'FM_SET_TABLE_STATE_TBL_ERR', eventID:96},
                        {name:'FM_SET_TABLE_STATE_ARG_ERR', eventID:97},
                        {name:'FM_SET_TABLE_STATE_UNUSED_ERR', eventID:98},
                        {name:'FM_TABLE_VERIFY_ERR', eventID:99},
                        {name:'FM_CHILD_INIT', eventID:100},
                        {name:'FM_CHILD_INIT_ERR', eventID:101},
                        {name:'FM_CHILD_TERM_ERR', eventID:102},
                        {name:'FM_CHILD_EXE_ERR', eventID:103},
                        {name:'FM_TABLE_VERIFY', eventID:104}]
                      }; 

                  - for (var idx = 0; idx < eventDef.events.length; ++idx) {
                      - var strEventID = '' + eventDef.events[idx].eventID;
                      - var cmdSetFilter = {cmd: {name:'/CFS/CFE_EVS/SetFilter', argument:[{name:'AppName', value:eventDef.appName},{name:'EventID', value:strEventID}]}};
                      - var cmdResetFilter = {cmd: {name:'/CFS/CFE_EVS/ResetFilter', argument:[{name:'AppName', value:eventDef.appName},{name:'EventID', value:strEventID}]}};
                      - var cmdAddEventFilter = {cmd: {name:'/CFS/CFE_EVS/AddEventFilter', argument:[{name:'AppName', value:eventDef.appName},{name:'EventID', value:strEventID}]}};
                      - var cmdDeleteEventFilter = {cmd: {name:'/CFS/CFE_EVS/DeleteEventFilter', argument:[{name:'AppName', value:eventDef.appName},{name:'EventID', value:strEventID}]}};
                      tr
                        td(style='padding-left: 20px !important')  #{eventDef.events[idx].name}
                        td
                          .btn-group
                            button.btn.btn-xs.btn-primary(data-sage= cmdSetFilter) Set
                            button.btn.btn-xs.btn-primary(data-sage= cmdResetFilter) Reset
                            button.btn.btn-xs.btn-primary(data-sage= cmdAddEventFilter) Add
                            button.btn.btn-xs.btn-primary(data-sage= cmdDeleteEventFilter) Delete
                  - };


