mixin app_specific_mempools(appID)

  -
    var appObj = {};
    for (var idx = 0; idx < fsw.apps.length; ++idx) {
      if(fsw.apps[idx].id == appID) {
        appObj = fsw.apps[idx]
      }
    }
    
    if(appObj.id !== undefined) {
      if(appObj.poolHandleTlmID !== undefined) {      
  article.col-xs-11.col-sm-6.col-md-5.col-lg-4(style='width:350px')
    #wid-CFE-ES-Memory.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
      header
        span.widget-icon
          i.fa.fa-table
        h2 Memory Pool
          button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(onclick='SendMemoryPoolStats()') Send
      div
        .jarviswidget-editbox
          input.form-control(type='text')
        .widget-body
          .table-responsive
            table.table.table-condensed
              tbody
                tr
                  th Pool Handle - Requested
                  td
                    span#CFE_ES_RequestedPoolHandle(data-sage={tlm:[{name:appObj.poolHandleTlmID, format:'0x%08x'}]} onchange='UpdatePoolHandleColors();') ---
                tr
                  th Pool Handle - Telemetered
                  td
                    span#CFE_ES_TelemeteredPoolHandle(data-sage={tlm:[{name:'/CFS/CFE_ES/PoolStats_Handle', format:'0x%08x'}]} onchange='UpdatePoolHandleColors();') ---
                tr
                  th Pool size
                  td
                    span(data-sage={tlm:[{name:'/CFS/CFE_ES/PoolStats_Size'}]}) ---
                tr
                  th Num blocks requested
                  td
                    span(data-sage={tlm:[{name:'/CFS/CFE_ES/PoolStats_NumBlocksRequested'}]}) ---
                tr
                  th Check error count
                  td
                    span(data-sage={tlm:[{name:'/CFS/CFE_ES/PoolStats_CheckErrCtr'}]}) ---
                tr
                  th Num free bytes
                  td
                    span(data-sage={tlm:[{name:'/CFS/CFE_ES/PoolStats_NumFreeBytes'}]}) ---
          .table-responsive
            table.table.table-striped.table-condensed.table-memory
              thead
                th(style='width:50px') #
                th(style='width:100px') Block Size
                th(style='width:75px') Created
                th(style='width:75px') Free
              tbody
                tr
                  th 0
                  td
                    span(data-sage={tlm:[{name:'/CFS/CFE_ES/PoolStats_Block0_Size'}]}) ---
                  td
                    span(data-sage={tlm:[{name:'/CFS/CFE_ES/PoolStats_Block0_NumCreated'}]}) ---
                  td
                    span(data-sage={tlm:[{name:'/CFS/CFE_ES/PoolStats_Block0_NumFree'}]}) ---
                tr
                  th 1
                  td
                    span(data-sage={tlm:[{name:'/CFS/CFE_ES/PoolStats_Block1_Size'}]}) ---
                  td
                    span(data-sage={tlm:[{name:'/CFS/CFE_ES/PoolStats_Block1_NumCreated'}]}) ---
                  td
                    span(data-sage={tlm:[{name:'/CFS/CFE_ES/PoolStats_Block1_NumFree'}]}) ---
                tr
                  th 2
                  td
                    span(data-sage={tlm:[{name:'/CFS/CFE_ES/PoolStats_Block2_Size'}]}) ---
                  td
                    span(data-sage={tlm:[{name:'/CFS/CFE_ES/PoolStats_Block2_NumCreated'}]}) ---
                  td
                    span(data-sage={tlm:[{name:'/CFS/CFE_ES/PoolStats_Block2_NumFree'}]}) ---
                tr
                  th 3
                  td
                    span(data-sage={tlm:[{name:'/CFS/CFE_ES/PoolStats_Block3_Size'}]}) ---
                  td
                    span(data-sage={tlm:[{name:'/CFS/CFE_ES/PoolStats_Block3_NumCreated'}]}) ---
                  td
                  span(data-sage={tlm:[{name:'/CFS/CFE_ES/PoolStats_Block3_NumFree'}]}) ---
                tr
                  th 4
                  td
                    span(data-sage={tlm:[{name:'/CFS/CFE_ES/PoolStats_Block4_Size'}]}) ---
                  td
                    span(data-sage={tlm:[{name:'/CFS/CFE_ES/PoolStats_Block4_NumCreated'}]}) ---
                  td
                    span(data-sage={tlm:[{name:'/CFS/CFE_ES/PoolStats_Block4_NumFree'}]}) ---
                tr
                  th 5
                  td
                    span(data-sage={tlm:[{name:'/CFS/CFE_ES/PoolStats_Block5_Size'}]}) ---
                  td
                    span(data-sage={tlm:[{name:'/CFS/CFE_ES/PoolStats_Block5_NumCreated'}]}) ---
                  td
                    span(data-sage={tlm:[{name:'/CFS/CFE_ES/PoolStats_Block5_NumFree'}]}) ---
                tr
                  th 6
                  td
                    span(data-sage={tlm:[{name:'/CFS/CFE_ES/PoolStats_Block6_Size'}]}) ---
                  td
                    span(data-sage={tlm:[{name:'/CFS/CFE_ES/PoolStats_Block6_NumCreated'}]}) ---
                  td
                    span(data-sage={tlm:[{name:'/CFS/CFE_ES/PoolStats_Block6_NumFree'}]}) ---
                tr
                  th 7
                  td
                    span(data-sage={tlm:[{name:'/CFS/CFE_ES/PoolStats_Block7_Size'}]}) ---
                  td
                    span(data-sage={tlm:[{name:'/CFS/CFE_ES/PoolStats_Block7_NumCreated'}]}) ---
                  td
                    span(data-sage={tlm:[{name:'/CFS/CFE_ES/PoolStats_Block7_NumFree'}]}) ---
                tr
                  th 8
                  td
                    span(data-sage={tlm:[{name:'/CFS/CFE_ES/PoolStats_Block8_Size'}]}) ---
                  td
                    span(data-sage={tlm:[{name:'/CFS/CFE_ES/PoolStats_Block8_NumCreated'}]}) ---
                  td
                    span(data-sage={tlm:[{name:'/CFS/CFE_ES/PoolStats_Block8_NumFree'}]}) ---
                tr
                  th 9
                  td
                    span(data-sage={tlm:[{name:'/CFS/CFE_ES/PoolStats_Block9_Size'}]}) ---
                  td
                    span(data-sage={tlm:[{name:'/CFS/CFE_ES/PoolStats_Block9_NumCreated'}]}) ---
                  td
                    span(data-sage={tlm:[{name:'/CFS/CFE_ES/PoolStats_Block9_NumFree'}]}) ---
                tr
                  th 10
                  td
                    span(data-sage={tlm:[{name:'/CFS/CFE_ES/PoolStats_Block10_Size'}]}) ---
                  td
                    span(data-sage={tlm:[{name:'/CFS/CFE_ES/PoolStats_Block10_NumCreated'}]}) ---
                  td
                    span(data-sage={tlm:[{name:'/CFS/CFE_ES/PoolStats_Block10_NumFree'}]}) ---
                tr
                  th 11
                  td
                    span(data-sage={tlm:[{name:'/CFS/CFE_ES/PoolStats_Block11_Size'}]}) ---
                  td
                    span(data-sage={tlm:[{name:'/CFS/CFE_ES/PoolStats_Block11_NumCreated'}]}) ---
                  td
                    span(data-sage={tlm:[{name:'/CFS/CFE_ES/PoolStats_Block11_NumFree'}]}) ---
                tr
                  th 12
                  td
                    span(data-sage={tlm:[{name:'/CFS/CFE_ES/PoolStats_Block12_Size'}]}) ---
                  td
                    span(data-sage={tlm:[{name:'/CFS/CFE_ES/PoolStats_Block12_NumCreated'}]}) ---
                  td
                    span(data-sage={tlm:[{name:'/CFS/CFE_ES/PoolStats_Block12_NumFree'}]}) ---
                tr
                  th 13
                  td
                    span(data-sage={tlm:[{name:'/CFS/CFE_ES/PoolStats_Block13_Size'}]}) ---
                  td
                    span(data-sage={tlm:[{name:'/CFS/CFE_ES/PoolStats_Block13_NumCreated'}]}) ---
                  td
                    span(data-sage={tlm:[{name:'/CFS/CFE_ES/PoolStats_Block13_NumFree'}]}) ---
                tr
                  th 14
                  td
                    span(data-sage={tlm:[{name:'/CFS/CFE_ES/PoolStats_Block14_Size'}]}) ---
                  td
                    span(data-sage={tlm:[{name:'/CFS/CFE_ES/PoolStats_Block14_NumCreated'}]}) ---
                  td
                    span(data-sage={tlm:[{name:'/CFS/CFE_ES/PoolStats_Block14_NumFree'}]}) ---
                tr
                  th 15
                  td
                    span(data-sage={tlm:[{name:'/CFS/CFE_ES/PoolStats_Block15_Size'}]}) ---
                  td
                    span(data-sage={tlm:[{name:'/CFS/CFE_ES/PoolStats_Block15_NumCreated'}]}) ---
                  td
                    span(data-sage={tlm:[{name:'/CFS/CFE_ES/PoolStats_Block15_NumFree'}]}) ---
                tr
                  th 16
                  td
                    span(data-sage={tlm:[{name:'/CFS/CFE_ES/PoolStats_Block16_Size'}]}) ---
                  td
                    span(data-sage={tlm:[{name:'/CFS/CFE_ES/PoolStats_Block16_NumCreated'}]}) ---
                  td
                    span(data-sage={tlm:[{name:'/CFS/CFE_ES/PoolStats_Block16_NumFree'}]}) ---
  
  script.
    Handlebars.registerHelper('toHex16', function(context) {
      return sprintf("0x%04x", context);
    }); 
  
    function UpdatePoolHandleColors() {
      if($('#CFE_ES_RequestedPoolHandle').text() === $('#CFE_ES_TelemeteredPoolHandle').text())
      {
          $('#CFE_ES_RequestedPoolHandle').css({'color':'green'});
          $('#CFE_ES_TelemeteredPoolHandle').css({'color':'green'}); 
      }
      else
      {
          $('#CFE_ES_RequestedPoolHandle').css({'color':'red'});
          $('#CFE_ES_TelemeteredPoolHandle').css({'color':'red'}); 
      }
    }
        
    var SendMemoryPoolStats = function() {
      session.sendCommand('/CFS/CFE_ES/TlmPoolStats', [
        {name:'Application', value:'#{appObj.id}'},
        {name:'PoolHandle', value:parseInt($('#CFE_ES_RequestedPoolHandle').text()).toString()}
      ]);
    }        
      
  -
      }
    }


mixin registered_applications() 
  article.col-xs-10.col-sm-6.col-md-5.col-lg-4(style='width:350px')
    #wid-CFE-ES-AppCtrl-RegisteredApplications.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
      header
        span.widget-icon
          i.fa.fa-table
        h2 Registered Applications
      div
        .jarviswidget-editbox
          input.form-control(type='text')
        .widget-body
          .table-responsive
            table.table.table-condensed
              tbody
                tr  
                  th Core applications
                  td 
                    span(data-sage={tlm: [{name: '/CFS/CFE_ES/RegisteredCoreApps'}]}) ---
                tr
                  th External applications
                  td 
                    span(data-sage={tlm: [{name: '/CFS/CFE_ES/RegisteredExternalApps'}]}) ---
                tr
                  th Tasks
                  td 
                    span(data-sage={tlm: [{name: '/CFS/CFE_ES/RegisteredTasks'}]}) ---
                tr
                  th Libraries
                  td 
                    span(data-sage={tlm: [{name: '/CFS/CFE_ES/RegisteredLibs'}]}) ---  


mixin app_specific_application_control(appID)
  -
    var appObj = {};
    for (var idx = 0; idx < fsw.apps.length; ++idx) {
      if(fsw.apps[idx].id == appID) {
        appObj = fsw.apps[idx]
      }
    }
    
    if(appObj.id !== undefined) {
  article.col-xs-9.col-sm-7.col-md-6.col-lg-5(style='width:400px')
        #wid-CFE-ES-AppCtrl-ApplicationControl.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
          header
            span.widget-icon
              i.fa.fa-table
            h2 Application Control
          div
            .jarviswidget-editbox
              input.form-control(type='text')
            .widget-body
              .table-responsive
                table.table.table-condensed
                  tbody
                    tr
                      th(style='width:120px') App Name - Requested
                      td(style='width:120px') #{appObj.id}
                    tr
                      th(style='width:120px') App Name - Telemetered
                      td(style='width:120px') 
                        span(data-sage={tlm:[{name: '/CFS/CFE_ES/AppInfo_Name'}]}) ---
                    tr
                      th ID
                      td
                        input.form-control(width=50 data-sage={tlm: [{name: '/CFS/CFE_ES/AppInfo_AppID'}]}, value='---')
                    tr
                      th Type
                      td
                        span(data-sage={tlm: [{name: '/CFS/CFE_ES/AppInfo_Type'}]}) ---
                    tr
                      th Entry Point
                      td
                        input#AppCtrl_EntryPoint.form-control(width=50, data-sage={tlm: [{name: '/CFS/CFE_ES/AppInfo_EntryPoint'}]}, value='---')
                    tr
                      th File Name
                      td
                        input#AppCtrl_FileName.form-control(width=50, data-sage={tlm: [{name: '/CFS/CFE_ES/AppInfo_FileName'}]}, value='---')
                    tr 
                      th Stack Size
                      td
                        input#AppCtrl_StackSize.form-control(width=50, data-sage={tlm: [{name: '/CFS/CFE_ES/AppInfo_StackSize'}]}, value='---')
                    tr
                      th Module ID
                      td
                        span(data-sage={tlm: [{name: '/CFS/CFE_ES/AppInfo_ModuleID'}]}) ---
                    tr
                      th Addr valid
                      td
                        div.bool-led(data-sage={tlm: [{name: '/CFS/CFE_ES/AppInfo_AddressesAreValid'}]})
                    tr 
                      th Code addr
                      td
                        span(data-sage={tlm: [{name: '/CFS/CFE_ES/AppInfo_CodeAddress', format:'0x%08x'}]}) ---
                    tr
                      th Code size
                      td
                        span(data-sage={tlm: [{name: '/CFS/CFE_ES/AppInfo_CodeSize'}]}) ---
                    tr
                      th Data Addr
                      td
                        span(data-sage={tlm: [{name: '/CFS/CFE_ES/AppInfo_DataAddress', format:'0x%08x'}]}) ---
                    tr
                      th Data Size
                      td
                        span(data-sage={tlm: [{name: '/CFS/CFE_ES/AppInfo_DataSize'}]}) ---
                    tr
                      th BSS Addr
                      td
                        span(data-sage={tlm: [{name: '/CFS/CFE_ES/AppInfo_BSSAddress', format:'0x%08x'}]}) ---
                    tr
                      th BSS Size
                      td
                        span(data-sage={tlm: [{name: '/CFS/CFE_ES/AppInfo_BSSSize'}]}) ---
                    tr
                      th Start Addr
                      td
                        span(data-sage={tlm: [{name: '/CFS/CFE_ES/AppInfo_StartAddress', format:'0x%08x'}]}) ---
                    tr 
                      th Exception Action
                      td              
                        input#AppCtrl_ExceptionAction.form-control(width=50, data-sage={tlm: [{name: '/CFS/CFE_ES/AppInfo_ExceptionAction'}]}, value='---')
                    tr
                      th Priority
                      td
                        input#AppCtrl_Priority.form-control(width=50, data-sage={tlm: [{name: '/CFS/CFE_ES/AppInfo_Priority'}]}, value='---')
                    tr
                      th Main Task ID
                      td
                        span(data-sage={tlm: [{name: '/CFS/CFE_ES/AppInfo_MainTaskId'}]}) ---
                    tr
                      th Execution Counter
                      td
                        span(data-sage={tlm: [{name: '/CFS/CFE_ES/AppInfo_ExecutionCounter'}]}) ---
                    tr 
                      th Main Task Name
                      td
                        span(data-sage={tlm: [{name: '/CFS/CFE_ES/AppInfo_MainTaskName'}]}) ---
                    tr
                      th Child Task Count
                      td
                       span(data-sage={tlm: [{name: '/CFS/CFE_ES/AppInfo_NumOfChildTasks'}]}) ---
              button#AppCtrl_QueryApp.btn.btn-primary.btn-labeled Query
              button.btn.btn-primary.btn-labeled(data-sage={cmd: {name: '/CFS/CFE_ES/QueryAll'}}) Query All
              button#AppCtrl_StartApp.btn.btn-primary.btn-labeled Start
              button#AppCtrl_StopApp.btn.btn-primary.btn-labeled Stop
              button#AppCtrl_RestartApp.btn.btn-primary.btn-labeled Restart
              button#AppCtrl_ReloadApp.btn.btn-primary.btn-labeled Reload
            
  script.  
    $('#AppCtrl_QueryApp').click(function(){
      session.sendCommand('/CFS/CFE_ES/QueryOne', [{name:'Name', value:'#{appObj.id}'}]);
    });

    $('#AppCtrl_StopApp').click(function(){
      session.sendCommand('/CFS/CFE_ES/StopApp', [{name:'Name', value:'#{appObj.id}'}]);
    });

    $('#AppCtrl_RestartApp').click(function(){
      session.sendCommand('/CFS/CFE_ES/RestartApp', [{name:'Name', value:'#{appObj.id}'}]);
    });
     
    $('#AppCtrl_StartApp').click(function(){
      session.sendCommand('/CFS/CFE_ES/StartApp', [
        {name:'Name', value:'#{appObj.id}'},
        {name:'EntryPoint', value:$('#AppCtrl_EntryPoint').val()},
        {name:'FileName', value:$('#AppCtrl_FileName').val()},
        {name:'StackSize', value:$('#AppCtrl_StackSize').val()},
        {name:'ExceptionAction', value:$('#AppCtrl_ExceptionAction').val()},
        {name:'Priority', value:$('#AppCtrl_Priority').val()}
      ]);
    });
     
    $('#AppCtrl_ReloadApp').click(function(){
      session.sendCommand('/CFS/CFE_ES/ReloadApp', [
        {name:'Name', value:'#{appObj.id}'},
        {name:'FileName', value:$('#AppCtrl_FileName').val()}
      ]);
    });
    
  -
    }
  
  