-
  if (data !== undefined) {
    if (data.tableDef !== undefined) {
article.col-xs-12.col-sm-12.col-md-8.col-lg-6
        #wid-Tables.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
          header
            span.widget-icon
              i.fa.fa-table
            h2 Table Control
          div
            .jarviswidget-editbox
              input.form-control(type='text')
            .widget-body
              .table-responsive
                table.table.table-condensed
                  tbody
                    tr
                      th(style={width:'170px'}) Cmd Count
                      td(style={width:'220px'})
                        span(data-sage={tlm:[{name:'/CFS/CFE_TBL/CmdCounter'}]}) ---
                    tr
                      th Cmd Error Count
                      td
                        span(data-sage={tlm:[{name:'/CFS/CFE_TBL/ErrCounter'}]}) ---
                    tr
                      th Number of Tables
                      td 
                        span(data-sage={tlm:[{name:'/CFS/CFE_TBL/NumTables'}]}) ---
                    tr
                      th Pending updates
                      td
                        span(data-sage={tlm:[{name:'/CFS/CFE_TBL/NumLoadPending'}]}) ---
                    tr
                      th Validations
                      td
                        span(data-sage={tlm:[{name:'/CFS/CFE_TBL/ValidationCtr'}]}) ---
                    tr
                      th Last CRC
                      td
                        span(data-sage={tlm:[{name:'/CFS/CFE_TBL/LastValCrc', format:'0x%08x'}]}) ---
                    tr
                      th Last Valid Table
                      td
                        span(data-sage={tlm:[{name:'/CFS/CFE_TBL/LastValTableName'}]}) ---
                    tr
                      th Last Validation
                      td
                        span(data-sage={tlm:[{name:'/CFS/CFE_TBL/LastValStatus'}]}) ---
                    tr
                      th Active Buffer
                      td
                        span(data-sage={tlm:[{name:'/CFS/CFE_TBL/ActiveBuffer', format:'0x%08x'}]}) ---
                    tr
                      th Successful Validations
                      td
                        span(data-sage={tlm:[{name:'/CFS/CFE_TBL/SuccessValCtr'}]}) ---
                    tr
                      th Failed Validations
                      td
                        span(data-sage={tlm:[{name:'/CFS/CFE_TBL/FailedValCtr'}]}) ---
                    tr
                      th Validation Requests
                      td
                        span(data-sage={tlm:[{name:'/CFS/CFE_TBL/NumValRequests'}]}) ---
                    tr
                      th Free Shared Buffers
                      td
                        span(data-sage={tlm:[{name:'/CFS/CFE_TBL/NumFreeSharedBufs'}]}) ---
                    tr
                      th Last Updated Table
                      td
                        span(data-sage={tlm:[{name:'/CFS/CFE_TBL/LastUpdatedTbl'}]}) ---
                    tr
                      th Last File Loaded
                      td
                        span(data-sage={tlm:[{name:'/CFS/CFE_TBL/LastFileLoaded'}]}) ---
                    tr
                      th Last File Dumped
                      td
                        span(data-sage={tlm:[{name:'/CFS/CFE_TBL/LastFileDumped'}]}) ---
              .table-responsive
                table.table.table-condensed
                  tbody        
                  - for (var idx = 0; idx < data.tableDef.length; ++idx) {      
                  -   if (data.tableDef[idx].isDumpTable == false) {
                    tr
                      th(style='width:150px') #{data.tableDef[idx].title}
                      td
                        .btn-group
                          button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd: {name: '/CFS/CFE_TBL/Load'}}) Load
                          button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd: {name: '/CFS/CFE_TBL/Dump', argument:[{name:'TableName', value:'#{data.appShortName}.#{data.tableDef[idx].name}'}]}}) Dump
                          button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd: {name: '/CFS/CFE_TBL/Validate', argument:[{name:'TableName', value:'#{data.appShortName}.#{data.tableDef[idx].name}'}]}}) Val
                          button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd: {name: '/CFS/CFE_TBL/Activate', argument:[{name:'TableName', value:'#{data.appShortName}.#{data.tableDef[idx].name}'}]}}) Act
                          button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd: {name: '/CFS/CFE_TBL/TlmReg', argument:[{name:'TableName', value:'#{data.appShortName}.#{data.tableDef[idx].name}'}]}}) TlmReg
                          button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd: {name: '/CFS/CFE_TBL/DeleteCDS', argument:[{name:'TableName', value:'#{data.appShortName}.#{data.tableDef[idx].name}'}]}}) DelCDS  
                          button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd: {name: '/CFS/CFE_TBL/AbortLoad', argument:[{name:'TableName', value:'#{data.appShortName}.#{data.tableDef[idx].name}'}]}}) Abort                  
                  -   } else {
                    tr
                      th(style='width:150px') Ground Dump
                      td
                        .btn-group
                          button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd: {name: '/CFS/CFE_TBL/Dump', argument:[{name:'TableName', value:'#{data.appShortName}.#{data.tableDef[idx].name}'}]}}) Dump
                          button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd: {name: '/CFS/CFE_TBL/TlmReg', argument:[{name:'TableName', value:'#{data.appShortName}.#{data.tableDef[idx].name}'}]}}) TlmReg
                  -   }
                  - }                      
-   }
- }