extends ../../../web_includes/common/layout

block includes
  include ../../../web_includes/common/common_includes.pug

block header
        i.fa-fw.fa.fa-signal
        | Memory Dwell

block main
  style.
    table.table-stats th:nth-of-type(1) {width:40px; overflow:hidden;} 
    table.table-stats th:nth-of-type(2) {width:100px; overflow:hidden;} 
    table.table-stats th:nth-of-type(3) {width:100px; overflow:hidden;} 
    table.table-stats th:nth-of-type(4) {width:100px; overflow:hidden;} 
    table.table-stats th:nth-of-type(5) {width:100px; overflow:hidden;}  
    table.table-stats th:nth-of-type(6) {width:100px; overflow:hidden;}  
    table.table-stats th:nth-of-type(7) {width:100px; overflow:hidden;} 
    table.table-stats td:nth-of-type(1) {width:100px; overflow:hidden;}
    table.table-stats td:nth-of-type(2) {width:100px; overflow:hidden;}
    table.table-stats td:nth-of-type(3) {width:100px; overflow:hidden;}
    table.table-stats td:nth-of-type(4) {width:100px; overflow:hidden;}
    table.table-stats td:nth-of-type(5) {width:100px; overflow:hidden;}
    table.table-stats td:nth-of-type(6) {width:100px; overflow:hidden;}
    table.table-stats td:nth-of-type(7) {width:100px; overflow:hidden;}
    
  .row
    article.col-xs-12.col-sm-12.col-md-6.col-lg-4
      #wid-MD-CmdAndData.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
        header
          span.widget-icon
            i.fa.fa-table
          h2 General
        div
          .jarviswidget-editbox
            input.form-control(type='text')
          .widget-body
            .table-responsive
              table.table.table-condensed
                tbody
                  tr
                    th Cmd Count
                    td
                      span.sage-tlm(data-sage={tlm:[{name:'/CFS/MD/ValidCmdCntr'}]}) ---
                  tr
                    th Cmd Error Count
                    td
                      span(data-sage={tlm:[{name:'/CFS/MD/InvalidCmdCntr'}]}) ---
                  tr
                    th Enable Mask
                    td 
                      span(style='font-family: monospace' data-sage={tlm:[{name:'/CFS/MD/DwellEnableMask', format:'0x%08x'}]}) --- 
            footer
              button.btn.btn-primary(data-sage={cmd:{name:'/CFS/MD/NoOp'}}) No-Op
              button.btn.btn-primary(data-sage={cmd:{name:'/CFS/MD/Reset'}}) Reset Ctrs
              button.btn.btn-primary(data-sage={cmd:{name:'/CFS/MD/StartDwell'}}) Start
              button.btn.btn-primary(data-sage={cmd:{name:'/CFS/MD/StopDwell'}}) Stop
              button.btn.btn-primary(data-sage={cmd:{name:'/CFS/MD/JamDwell'}}) Jam
              button.btn.btn-primary(data-sage={cmd:{name:'/CFS/MD/SetSignature'}}) Set Signature
 
    article.col-xs-12.col-sm-12.col-md-6.col-lg-5
      #wid-md-stats.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
        header
          span.widget-icon
            i.fa.fa-table
          h2 Stats
        div
          .jarviswidget-editbox
            input.form-control(type='text')
          .widget-body
            .table-responsive
              table.table.table-condensed.table-stats
                tbody
                  tr
                    th #
                    th Tbl Addr Count
                    th Num Waits Per Pkt
                    th Byte Count
                    th Pkt Offset
                    th Tbl Entry
                    th Countdown
                  - for (var index = 0; index < 4; ++index) {  
                  tr
                    th #{index}
                    td 
                      span(data-sage={tlm:[{name:'/CFS/MD/DwellTblAddrCount[#{index}]'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/MD/NumWaitsPerPkt[#{index}]'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/MD/ByteCount[#{index}]'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/MD/DwellPktOffset[#{index}]'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/MD/DwellTblEntry[#{index}]'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/MD/Countdown[#{index}]'}]}) ---
                  - }
                                        
  .row
    +app_specific_telemetry_control("MAC")
                                              
  .row          
    +app_specific_mempools("MAC")
    
  .row
    +app_specific_application_control("MAC") 
    +registered_applications() 
  
  .row
    +app_specific_table_control("MAC")
    
  .row
    +app_specific_scheduler_control("MAC")
          
