doctype html
html(lang='en-us')
  head
    meta(charset='utf-8')
    title Commander
    meta(name='description', content='')
    meta(name='author', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    link(rel='stylesheet', type='text/css', media='screen', href='static/bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', type='text/css', media='screen', href='static/bower_components/font-awesome/css/font-awesome.css')
    link(rel='stylesheet', type='text/css', media='screen', href='static/bower_components/font-mfizz/css/font-mfizz.css')
    // SmartAdmin Styles : Caution! DO NOT change the order
    link(rel='stylesheet', type='text/css', media='screen', href='static/css/commander-production-plugins.css')
    link(rel='stylesheet', type='text/css', media='screen', href='static/css/commander-production.css')//KK
    link(rel='stylesheet', type='text/css', media='screen', href='static/css/commander-skins.css')
    // DEV links : turn this on when you like to develop directly
    // <link rel="stylesheet" type="text/css" media="screen" href="../Source_UNMINIFIED_CSS/smartadmin-production.css">
    // <link rel="stylesheet" type="text/css" media="screen" href="../Source_UNMINIFIED_CSS/smartadmin-skins.css">
    // SmartAdmin RTL Support
    link(rel='stylesheet', type='text/css', media='screen', href='static/css/commander-rtl.css')
    link(rel='stylesheet', type='text/css', media='screen', href='static/css/windhover.css')
    // #FAVICONS
    link(rel='shortcut icon', href='static/img/favicon/favicon.ico', type='image/x-icon')
    link(rel='icon', href='static/img/favicon/favicon.ico', type='image/x-icon')
    // #GOOGLE FONT
    link(rel='stylesheet', type='text/css', media='screen', href='static/css/google-fonts.css')
    // #APP SCREEN / ICONS
    link(rel='apple-touch-icon', href='static/img/splash/sptouch-icon-iphone.png')
    link(rel='apple-touch-icon', sizes='76x76', href='static/img/splash/touch-icon-ipad.png')
    link(rel='apple-touch-icon', sizes='120x120', href='static/img/splash/touch-icon-iphone-retina.png')
    link(rel='apple-touch-icon', sizes='152x152', href='static/img/splash/touch-icon-ipad-retina.png')
    // iOS web-app metas : hides Safari UI Components and Changes Status Bar Appearance
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    // Startup image for web apps
    link(rel='apple-touch-startup-image', href='static/img/splash/ipad-landscape.png', media='screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)')
    link(rel='apple-touch-startup-image', href='static/img/splash/ipad-portrait.png', media='screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)')
    link(rel='apple-touch-startup-image', href='static/img/splash/iphone.png', media='screen and (max-device-width: 320px)')
    link(rel='stylesheet', type='text/css', href='static/bower_components/jquery-flight-indicators/css/flightindicators.css')
    script(src='client2.js')
    script.
       var session = new Session();
       var inst = new Instance();
       var dir =  new Directory();
       var cmd_o = new Command();
       var tlm_o = null
       var ev = new Event();
       var vid = new Video();
       var page_change_counter=0;

  body.windhover-style-0
    // #HEADER
    header#header
      #logo-group
        // PLACE YOUR LOGO HERE
        span#logo
          img(src='static/img/logo-pale.png', alt='Commander')
        // END LOGO PLACEHOLDER

        // AJAX-DROPDOWN : control this dropdown height, look and feel from the LESS variable file
      // #PROJECTS: projects dropdown
      .project-context.hidden-xs.dropdown(dropdown='')
        span.label Default Instance:
        span.project-selector.dropdown-toggle(data-toggle='dropdown')
          span#yamcs-instance-selected Select
          i.fa.fa-angle-down
        ul#yamcs-instance-list.dropdown-menu
      // end projects dropdown

      #notification-group
        span#event-notification.notification
          i.fa.fa-exclamation-triangle
          b#EventCount.badge  0

        span#alarm-notification.activity-dropdown.notification
          i.fa.fa-bell
          b#AlarmCount.badge  0


      // #TOGGLE LAYOUT BUTTONS
      // pulled right: nav area
      .pull-right
        // collapse menu button
        #hide-menu.btn-header.pull-right
          span
            a(href='javascript:void(0);', data-action='toggleMenu', title='Collapse Menu')
              i.fa.fa-reorder
        // end collapse menu
        // #MOBILE
        // Top menu profile link : this shows only when top menu is active
        ul#mobile-profile-img.header-dropdown-list.hidden-xs.padding-5
          li
            a.dropdown-toggle.no-margin.userdropdown(href='#', data-toggle='dropdown')
              img.online(src='static/img/avatars/sunny.png', alt='John Doe')
            ul.dropdown-menu.pull-right
              li
                a.padding-10.padding-top-0.padding-bottom-0(href='javascript:void(0);')
                  i.fa.fa-cog
                  |  Setting
              li.divider
              li
                a.padding-10.padding-top-0.padding-bottom-0(href='#ajax/profile.html')
                  i.fa.fa-user
                  u P
                  | rofile
              li.divider
              li
                a.padding-10.padding-top-0.padding-bottom-0(href='javascript:void(0);', data-action='toggleShortcut')
                  i.fa.fa-arrow-down
                  u S
                  | hortcut
              li.divider
              li
                a.padding-10.padding-top-0.padding-bottom-0(href='javascript:void(0);', data-action='launchFullscreen')
                  i.fa.fa-arrows-alt
                  |  Full
                  u S
                  | creen
              li.divider
              li
                a.padding-10.padding-top-5.padding-bottom-5(href='login.html', data-action='userLogout')
                  i.fa.fa-sign-out.fa-lg
                  strong
                    u L
                    | ogout
        // logout button
        #logout.btn-header.transparent.pull-right
          span
            a(href='login.html', title='Sign Out', data-action='userLogout', data-logout-msg='You can improve your security further after logging out by closing this opened browser')
              i.fa.fa-sign-out
        // end logout button
        // search mobile button (this is hidden till mobile view port)
        #search-mobile.btn-header.transparent.pull-right
          span
            a(href='javascript:void(0)', title='Search')
              i.fa.fa-search
        // end search mobile button
        // #SEARCH
        // input: search field
        form.header-search.pull-right(action='#ajax/search.html')
          input#search-fld(type='text', name='param', placeholder='Find telemetry or command')
          a#cancel-search-js(href='javascript:void(0);', title='Cancel Search')
            i.fa.fa-times
        // end input: search field
        // fullscreen button
        #fullscreen.btn-header.transparent.pull-right
          span
            a(href='javascript:void(0);', data-action='launchFullscreen', title='Full Screen')
              i.fa.fa-arrows-alt
        // end fullscreen button
        // #Voice Command: Start Speech
        #speech-btn.btn-header.transparent.pull-right.hidden-sm.hidden-xs
          div
            a(href='javascript:void(0)', title='Voice Command', data-action='voiceCommand')
              i.fa.fa-microphone
            .popover.bottom
              .arrow
              .popover-content
                h4.vc-title
                  | Voice command activated
                  br
                  small Please speak clearly into the mic
                h4.vc-title-error.text-center
                  i.fa.fa-microphone-slash
                  |  Voice command failed
                  br
                  small.txt-color-red
                    | Must
                    strong "Allow"
                    |  Microphone
                  br
                  small.txt-color-red
                    | Must have
                    strong Internet Connection
                a.btn.btn-success(href='javascript:void(0);', onclick='commands.help()') See Commands
                a.btn.bg-color-purple.txt-color-white(href='javascript:void(0);', onclick="$('#speech-btn .popover').fadeOut(50);") Close Popup
        // end voice command
        // multiple lang dropdown : find all flags in the flags page
        ul.header-dropdown-list.hidden-xs
          li
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              img.flag.flag-us(src='static/img/blank.gif', alt='United States')
              span  US
              i.fa.fa-angle-down
            ul.dropdown-menu.pull-right
              li.active
                a(href='javascript:void(0);')
                  img.flag.flag-us(src='static/img/blank.gif', alt='United States')
                  |  English (US)
        // end multiple lang
      // end pulled right: nav area
    // END HEADER
    // #NAVIGATION
    // Left panel : Navigation area
    // Note: This width of the aside area can be adjusted through LESS/SASS variables
    aside#left-panel.hasmenu
      // User info
      //.login-info
      //  span
      //    // User image size is adjusted inside CSS, it should stay as is
      //    a#show-shortcut(href='javascript:void(0);', data-action='toggleShortcut')
      //      img.online(src='static/img/avatars/sunny.png', alt='me')
      //      span
      //        | john.doe
      //      i.fa.fa-angle-down
      // end user info
      //  NAVIGATION : This navigation is also responsive
      //  To make this navigation dynamic please make sure to link the node
      // (the reference to the nav > ul) after page load. Or the navigation
      //  will not initialize.
      #navBox
        nav
          ul(data-path='')
            li
              a(href='flight/pilot')
                i.fa.fa-lg.fa-fw.fa-folder-o
                span.menu-item-parent  flight  /  pilot.jade
      span.hasmenu.minifyme(data-action='minifyMenu')
        i.fa.fa-arrow-circle-left.hit
    // END NAVIGATION
    // #MAIN PANEL
    #main(role='main')
      // RIBBON
      #ribbon
        span.ribbon-button-alignment
          span#refresh.btn.btn-ribbon(data-action='resetWidgets', data-title='refresh', rel='tooltip', data-placement='bottom', data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings.", data-html='true', data-reset-msg='Would you like to RESET all your saved widgets and clear LocalStorage?')
            i.fa.fa-refresh
        // breadcrumb
        ol.breadcrumb
        span.ribbon-button-alignment.pull-right(style="margin-right:25px")

      // #MAIN CONTENT
      #content
      // END #MAIN CONTENT
    // END #MAIN PANEL
    // #PAGE FOOTER
    //.page-footer
    //  .row
    //    .col-xs-12.col-sm-6
    //      span.txt-color-white
    //        | SmartAdmin 1.8.x
    //        span.hidden-xs  - Web Application Framework
    //        |  © 2014-2016
    //  // end row
    // END FOOTER
    #shortcut
      ul
        li
          a.jarvismetro-tile.big-cubes.bg-color-blue(href='#ajax/dashboard.html')
            span.iconbox
              i.fa.fa-envelope.fa-4x
              span
                | Mail
                span.label.pull-right.bg-color-darken 14
    // END SHORTCUT AREA

    //
    //  PACE LOADER - turn this on if you want ajax loading to show (caution: uses lots of memory on iDevices)

    // #PLUGINS
    // Link to Google CDN's jQuery + jQueryUI; fall back to local
    script(src='static/bower_components/jquery/dist/jquery.js')
    script(src='static/bower_components/jquery-ui/jquery-ui.min.js')
    // IMPORTANT: APP CONFIG
    script(src='static/js/app.config.js')
    // JS TOUCH : include this plugin for mobile drag / drop touch events
    script(src='static/bower_components/jqueryui-touch-punch/jquery.ui.touch-punch.js')
    // BOOTSTRAP JS
    script(src='static/bower_components/bootstrap/dist/js/bootstrap.js')
    // CUSTOM NOTIFICATION
    //script(src='static/js/notification/SmartNotification.js')
    // JARVIS WIDGETS
    script(src='static/js/smartwidgets/jarvis.widget.min.js')
    // EASY PIE CHARTS
    script(src='static/bower_components/jquery.easy-pie-chart/dist/jquery.easypiechart.js')
    // SPARKLINES
    script(src='static/bower_components/jquery-sparkline/dist/jquery.sparkline.js')
    // JQUERY VALIDATE
    script(src='static/bower_components/jquery-validation/dist/jquery.validate.js')
    // JQUERY MASKED INPUT
    script(src='static/bower_components/jquery.maskedinput/dist/jquery.maskedinput.js')
    // JQUERY SELECT2 INPUT
    script(src='static/bower_components/select2/dist/js/select2.js')
    // JQUERY UI + Bootstrap Slider
    script(src='static/bower_components/bootstrap-slider/bootstrap-slider.js')
    // browser msie issue fix
    script(src='static/bower_components/jquery.mb.browser/inc/jquery.mb.browser.js')
    // FastClick: For mobile devices: you can disable this in app.js
    script(src='static/bower_components/fastclick/lib/fastclick.js')
    //if IE 8
      h1
        | Your browser is out of date, please update your browser by going to www.microsoft.com/download
    // MAIN APP JS FILE
    script(src='static/js/app2.js')
    // ENHANCEMENT PLUGINS : NOT A REQUIREMENT
    // Voice command : plugin
    //script(src='static/js/speech/voicecommand.js')
    // SmartChat UI : plugin
    //script(src='static/js/smart-chat-ui/smart.chat.ui.js')
    //script(src='static/js/smart-chat-ui/smart.chat.manager.js')
    //script(src='static/js/plugin/x-editable/moment.js')
    //script(src='static/js/plugin/x-editable/jquery.mockjax.js')
    //script(src='static/js/plugin/x-editable/x-editable.js')
    // BOOTSTRAP JS
    script(src='static/bower_components/bs-context-menu/dist/BootstrapMenu.js')
    script(src='static/bower_components/Flot/jquery.flot.js')
    //script(src='static/bower_components/Flot/jquery.flot.cust.js')
    //script(src='static/bower_components/Flot/jquery.flot.resize.js')
    //script(src='static/bower_components/Flot/jquery.flot.fillbetween.js')
    //script(src='static/bower_components/Flot/jquery.flot.orderBar.js')
    //script(src='static/bower_components/Flot/jquery.flot.pie.js')
    script(src='static/bower_components/Flot/jquery.flot.time.js')
    //script(src='static/bower_components/Flot/jquery.flot.tooltip.js')
    script(src='static/bower_components/Flot/jquery.flot.threshold.js')
    //script(src='/socket.io/socket.io.js')
    script(src='static/bower_components/sprintf/dist/sprintf.min.js')
    script(src='static/bower_components/handlebars/handlebars.min.js')
    script(src='static/bower_components/jquery-flight-indicators/js/jquery.flightindicators.min.js')
    script(src='static/bower_components/svg.js/dist/svg.min.js')
    script(src='static/bower_components/eventEmitter/EventEmitter.js')
    script(src='static/bower_components/jqGrid/js/jquery.jqGrid.js')
    script(src='static/bower_components/jqGrid/js/i18n/grid.locale-en.js')
    //script(src='client2.js')
    //script(src='tools.js')
    // <script src="static/bower_components/jsyg-events/JSYG.Events.js"></script>
    // <script src="static/bower_components/jQuery.Hotkeys/jquery.hotkeys.js"></script>
    // <script src="static/bower_components/jsyg-stdconstruct/JSYG.StdConstruct.js"></script>
    // <script src="static/bower_components/jsyg-menu/JSYG.Menu.js"></script>
    // <script src="static/bower_components/jsyg-contextmenu/JSYG.ContextMenu.js"></script>
    // <script src="static/bower_components/zl-contextmenu/dist/zl-contextmenu.js"></script>
    // <script src="static/bower_components/ui-contextmenu/jquery.ui-contextmenu.min.js"></script>
    // <script src="static/bower_components/contextMenu/contextMenu.min.js"></script>
    // <script src="static/bower_components/jquery-ui/jquery-ui.min.js"></script>
    // <script src="static/bower_components/jquery-ui/jquery-ui.js"></script>
    // <script src="static/bower_components/angular/angular.min.js"></script>
    // <script src="static/bower_components/angular-mocks/angular-mocks.js"></script>
    // <script src="static/bower_components/contextMenu/contextMenu.min.js"></script>
    // <script src="static/bower_components/jquery/dist/jquery.min.js"></script>
    // <script src="static/bower_components/jQuery.Hotkeys/jquery.hotkeys.js"></script>
    // <script src="static/bower_components/jquery-Mustache/src/jquery.mustache.js"></script>
    // <script src="static/bower_components/jsyg-stdconstruct/JSYG.StdConstruct.js"></script>
    // <script src="static/bower_components/mustache.js/mustache.js"></script>
    // <script src="static/bower_components/ng-contextmenu/dist/ng-contextmenu.min.js"></script>
    // <script src="static/bower_components/react-contextmenu/src/contextmenu-layer.js"></script>
    // <script src="static/bower_components/ui-contextmenu/jquery.ui-contextmenu.min.js"></script>
    //script(src = 'client2.js')
    script.
       /*var session = new Session();
       var inst = new Instance();
       var dir =  new Directory();
       var cmd_o = new Command();
       var tlm_o = null
       var ev = new Event();
       var vid = new Video();
       var page_change_counter=0;
        */



      /*ONLY HAPPENS ONE TIME ON LAUNCH OR RELOAD*/
      content.onload= function(){

        cmd_o.cleanSlate();
        tlm_o = new Telemetry()
        tlm_o.unSubscribeAll();
        console.log('here33333333333');
        session.saveSockets([inst,dir,cmd_o,tlm_o,ev]);
      }
      /*HAPPENS WHENEVER URL CHANGES*/
      window.onhashchange= function(){//TODO
        console.log('HASH CHANFGE DETECTED!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!');
        var newInstance = session.getCurrentInstance();
        cmd_o.cleanSlate();
        if($("#yamcs-instance-selected").text() != 'Select'){
        page_change_counter = page_change_counter+1;}


      };



      // INSTANCES

      inst.getInstanceList(processInstance);

      // EVENTS
      ev.eventSubscription(function(event) {
        var eventCount = parseInt($('#EventCount').text());
        eventCount++;
        $('#EventCount').text(eventCount);
        $('#EventCount').addClass("bg-color-red bounceIn animated");
      });

      function processInstance(instances) {
          instances = JSON.parse(instances.data);
          $("#yamcs-instance-list").text('');
            $.each(instances.instance, function (i, selected) {
              $("#yamcs-instance-list").append(
                $('<li>').append(
                  $('<a>').attr('href', 'javascript:void(0);').on("click", function (item) {
                    session.setCurrentInstance(item.target.text);
                    var newInstance = session.getCurrentInstance();
                    page_change_counter=0;
                    $("#yamcs-instance-selected").text(newInstance);
                    inst.transmitCurrentInstance(newInstance);
                    BindHtmlToCommanderInstance(newInstance); //first time binding
                  }).append(selected.name)));
            });
            getWorkspaceDir('');
        }




      var CommanderTlmDataElements = [];//TODO

      var procDirectoryListing = function (listing) {
        /* Add 'url', and 'ext' attributes */
        listing = JSON.parse(listing.data);
        for (var i = 0; i < listing.files.length; i++) {
          var path = listing.files[i].path;
          var subpath;
          var subname;
          var ext;
          var name = listing.files[i].name;
          subpath = path.substring(0, path.lastIndexOf("/") + 1);
          var a = listing.files[i].path.split('.');
          if (a.length === 1 || ( a[0] === '' && a.length === 2 )) {
            ext = '';
          }

          ext = a.pop();
          /* Prepend 'view' to the path to make the URL and cut off the jade extension. */
          if (ext == '') {
            listing.files[i].url =  path;
          } else {
            if (ext == 'js') {
              listing.files[i].url = '/scripting/index?url=ws' + path;
            } else {
              listing.files[i].url =  path;
            }
          }
          listing.files[i].ext = ext;
        }
        updateNavBar(listing);
        addNavMenu();
      };



      var trimNull = function (a) {
        var c = a.indexOf('\0');
        if (c>-1) {
          return a.substr(0, c);
        }
        return a;
      }




      var processTelemetryUpdate = function (param) {

        //preprocess

        try{
        param = JSON.parse((param.data).replace(/'/g, "\"").replace('True','true'));
        param = param.parameter[0];

        }catch(err){
         log('ERR', 'JSON - PARSE error!','ln 541')
        }
        var found = false;
        for (var i = 0; i < CommanderTlmDataElements.length; i++) {
          pre_process = CommanderTlmDataElements[i].attr('data-sage');
          pre_process = pre_process.replace(/'/g, '"');
          var jsonObj = JSON.parse(pre_process);
          for (var j = 0; j < jsonObj.tlm.length; j++) {
            if (jsonObj.tlm[j].name == param.id.name){

              var correctInstance = false;
              if(jsonObj.hasOwnProperty('instance') && (jsonObj.instance == param.instance)) {
                correctInstance = true;

              } else {
                if(param.instance == $("#yamcs-instance-selected").text()){
                  correctInstance = true;

                }

              }

              found = true;
              if(correctInstance == true){
                var value;
                if (param.engValue.hasOwnProperty('floatValue')) {
                  /* TODO */
                  value = param.engValue.floatValue;
                } else if (param.engValue.hasOwnProperty('doubleValue')) {
                  /* TODO */
                  value = param.engValue.doubleValue;
                } else if (param.engValue.hasOwnProperty('sint32Value')) {
                  /* TODO */
                  value = param.engValue.sint32Value;
                } else if (param.engValue.hasOwnProperty('uint32Value')) {
                  /* TODO */
                  value = param.engValue.uint32Value;
                } else if (param.engValue.hasOwnProperty('binaryValue')) {
                  /* TODO */
                  value = param.engValue.binaryValue;
                } else if (param.engValue.hasOwnProperty('stringValue')) {
                  /* TODO */
                  value = trimNull(param.engValue.stringValue);
                } else if (param.engValue.hasOwnProperty('timestampValue')) {
                  /* TODO */
                  value = param.engValue.timestampValue;
                } else if (param.engValue.hasOwnProperty('uint64Value')) {
                  /* TODO */
                  value = param.engValue.uint64Value;
                } else if (param.engValue.hasOwnProperty('sint64Value')) {
                  /* TODO */
                  value = param.engValue.sint64Value;
                } else if (param.engValue.hasOwnProperty('booleanValue')) {
                  /* TODO */
                  value = param.engValue.booleanValue;
                } else {
                  /* TODO */
                  value = '???';
                }

                if(CommanderTlmDataElements[i].is(':checkbox')) {
                  if((value == true) || (value > 0.0))
                    CommanderTlmDataElements[i].prop( "checked", true );
                  else
                    CommanderTlmDataElements[i].prop( "checked", false );
                } else if(CommanderTlmDataElements[i].is('input')) {

                  CommanderTlmDataElements[i].prop( "value", value );
                } else {
                  if (jsonObj.tlm[j].hasOwnProperty('format')) {
                    value = sprintf(jsonObj.tlm[j].format, value);
                  }

                  CommanderTlmDataElements[i].text(value);
                }

                /* Set the data validity timer, if timeout is specified. */
                if(param.hasOwnProperty('expirationTime')){
                  var tlmObj = CommanderTlmDataElements[i];

                  /* Expiration time is set.  Check if we already have a timer set. */
                  if(CommanderTlmDataElements[i].hasOwnProperty('timeout')){
                    /* Yes, one is already set.  Clear it first. */
                    clearTimeout(CommanderTlmDataElements[i].timeout);

                    /* Remove the timeout class, if it has one. */
                    tlmObj.removeClass('tlm-timedout');
                  }

                  /* Now set a new timeout. */
                  var timeout = param.expirationTime - param.acquisitionTime;
                  CommanderTlmDataElements[i].timeout = setTimeout(function () {
                    /* Telemetry timed out. */
                    tlmObj.addClass('tlm-timedout');
                  }, timeout);
                }
              }
            }
          }
        }
        //if (found == false) {
        //  tlm_o.unSubscribeTelemetry({'tlm':[{'name':param.id.name}]});
        //}
      };




      var replaceAll=function(str, find, replace) {
            str = str.toString();
            return str.replace(new RegExp(find, 'g'), replace);
        }




      var BindHtmlToCommanderInstance = function (instanceName) {


        var tlm = [];
        var self = this;

        console.log('***********BINDING***********');
        console.log(page_change_counter);
        if(page_change_counter>=1){

            console.log('called all unsubscription');
            tlm_o.unSubscribeAll();


        }


        CommanderTlmDataElements.length = 0;
        $('[data-sage]').each(function () {

          var obj = $(this).attr('data-sage');
          var jsonObj;


          if (typeof obj === 'string' || obj instanceof String) {
            // it's a string
            obj= replaceAll(obj,"\'","\"");
            try{
                jsonObj = JSON.parse(obj);
                }
            catch(err){
                log('ERROR','cannot parse string from data-sage.',err);
                return;
            }
          }
          else if (typeof obj === 'object' || obj instanceof Object) {
            // it's an object
            jsonObj = obj;
          }
          else {
            // it's something else
            return;

          }


          if (jsonObj.hasOwnProperty('tlm')) {
            /* This is a telemetry object. */
            tlm_o.subscribeTelemetry(jsonObj,processTelemetryUpdate);
            CommanderTlmDataElements.push($(this));
          }


          if (jsonObj.hasOwnProperty('cmd')) {
            /* This is a command object. */

            var cmdObj = jsonObj.cmd;
            var btnObj = $(this);
            try{
                cmd_o.prepareCmds(cmdObj.name,jsonObj,btnObj);
            }
            catch(err){
                log('ERROR','cannot parse command string from data-sage.',err);

            }

          }



        });




        //Do Your Moves Here

        var c = 0;
        cmd_o.ProcessCmds(function(cmdInfoStr,jsonObj,btnObj){


          c = c+1
          var cmdObj = jsonObj.cmd;
          var cmdData = cmdInfoStr.data;
          cmdData = replaceAll(cmdData,"\'","\"");
          var cmdInfo;

          try {
              cmdInfo = JSON.parse(cmdData);
          } catch (e) {
              /* TODO:  This is not a valid JSON object, probably because the
                 command itself is not valid.  We need to add a console so we
                 can present these errors to the user. */
              return;
          }

          if (cmdObj.hasOwnProperty('uuid')) {
            /* We already bound this element. */
          } else {
            if ((cmdObj.name == cmdInfo.qualifiedName) &&
                (cmdObj.instance == cmdInfo.instance)) {
              var uuid = generateUUID();
              cmdInfo.uuid = uuid;
              cmdObj.uuid = uuid;
              btnObj.attr('data-sage', JSON.stringify(jsonObj));
              /* Copy any arguments we have from the command button into the cmdInfo struct. */
              if (cmdObj.hasOwnProperty('argument')) {
                for (i = 0; i < cmdObj.argument.length; i++) {
                  for (j = 0; j < cmdInfo.argument.length; j++) {
                    if (cmdInfo.argument[j].name == cmdObj.argument[i].name) {
                      cmdInfo.argument[j].value = cmdObj.argument[i].value;
                    }
                  }
                }
              }

              var cmdOut = JSON.parse(JSON.stringify(cmdInfo));

              if(isTemplateCommand(cmdOut) == false) {

                btnObj.click(function (eventObject) {
                  if (cmdOut.hasOwnProperty('argument')) {
                    var args = [];
                    for (i = 0; i < cmdOut.argument.length; i++) {
                      args.push({name: cmdOut.argument[i].name, value: cmdOut.argument[i].value});
                    }

                    cmd_o.sendCommand(cmdOut.qualifiedName, args);//TODO

                  } else {

                    cmd_o.sendCommand(cmdOut.qualifiedName, []);//TODO

                  }
                });
              } else {
                /* First, generate UUIDs to be used later as element IDs. */
                for (i = 0; i < cmdOut.argument.length; i++) {
                  cmdOut.argument[i].uuid = uuid + "_" + cmdOut.argument[i].name;
                }
                /* Next set stringLength for string parameters to be used for form validation later. */
                for (i = 0; i < cmdOut.argument.length; i++) {
                  if (cmdOut.argument[i].type == "STRING") {
                    /* Add a new stringLength (in bytes) attribute for parameter validation later. */
                    cmdOut.argument[i].stringLength = cmdOut.argument[i].type.dataEncoding.sizeInBits / 8;
                  }
                }
                var source = $.trim($('#cmdTemplate').html());
                var template = Handlebars.compile(source);
                var html = template(cmdOut);
                var dlg = $("<div id='" + uuid + "'></div>")
                  .append(html);
                // Modal Link
                btnObj.click(function () {
                  dlg.dialog('open');
                  return false;
                });
                $(dlg).dialog({
                  autoOpen: false,
                  modal: true,
                  html: true,
                  content: html,
                  buttons: [
                    {
                      html: "Cancel",
                      "class": "btn btn-default",
                      click: function () {
                        $(this).dialog("close");
                      }
                    },
                    {
                      html: "<i class='fa fa-check'></i>&nbsp; Send",
                      "class": "btn btn-primary",
                      click: function () {
                        var args = [];
                        for (i = 0; i < cmdOut.argument.length; i++) {
                          if (cmdOut.argument[i].type.engType == 'enumeration') {
                            args.push({
                              'name': cmdOut.argument[i].name,
                              'value': $('#' + cmdOut.argument[i].uuid + ' option:selected').text()
                            });
                          } else {
                            args.push({
                              'name': cmdOut.argument[i].name,
                              'value': $('#' + cmdOut.argument[i].uuid).val()
                            });
                          }
                        }
                        $(this).dialog(cmd_o.sendCommand(cmdOut.qualifiedName, args));//TODO
                        $(this).dialog("close");
                      }
                    }
                  ]
                });
              }
            }
          }
        });
      };


      var setupEventSummaryDisplay = function () {
        var event_summary_jqgrid_data = [{
          time: '12:00:01.000',
          src : 'SCH',
          id: 123,
          sev : 'DEBUG'
        },{
          time: '12:00:02.000',
          src : 'SCH',
          id: 123,
          sev : 'INFO'
        },{
          time: '12:00:03.000',
          src : 'SCH',
          id: 123,
          sev : 'ERROR'
        },{
          time: '12:00:04.000',
          src : 'SCH',
          id: 123,
          sev : 'CRIT'
        },{
          time: '12:00:05.000',
          src : 'SCH',
          id: 123,
          sev : 'INFO'
        },{
          time: '12:00:06.000',
          src : 'SCH',
          id: 123,
          sev : 'INFO'
        },{
          time: '12:00:07.000',
          src : 'SCH',
          id: 123,
          sev : 'INFO'
        },{
          time: '12:00:08.000',
          src : 'SCH',
          id: 123,
          sev : 'INFO'
        },{
          time: '12:00:09.000',
          src : 'SCH',
          id: 123,
          sev : 'INFO'
        },{
          time: '12:00:10.000',
          src : 'SCH',
          id: 123,
          sev : 'INFO'
        },{
          time: '12:00:10.000',
          src : 'SCH',
          id: 123,
          sev : 'INFO'
        }];

        jQuery("#event_summary_jqgrid").jqGrid({
          data : event_summary_jqgrid_data,
          datatype : 'local',
          height : 'auto',
          colNames : ['Severity', 'Time', 'Source', 'ID'],
          colModel : [{
            name : 'sev',
            index : 'sev',
            sortable : true,
            editable : false,
            align : 'left',
            width : 60
          }, {
            name : 'time',
            index : 'time',
            sortable : true,
            editable : false,
            align : 'left'
          }, {
            name : 'src',
            index : 'src',
            sortable : true,
            editable : false,
            align : 'left',
            width : 60
          }, {
            name : 'id',
            index : 'id',
            sortable : true,
            editable : false,
            align : 'left',
            width : 30
          }],
          rowNum : 10,
          rowList : [10, 20, 30],
          pager : '#event_summary_pjqgrid',
          sortname : 'time',
          toolbarfilter : true,
          viewrecords : true,
          sortorder : 'asc',
          gridComplete : function() {
            var ids = jQuery('#event_summary_jqgrid').jqGrid('getDataIDs');
            for (var i = 0; i < ids.length; i++) {
              var cl = ids[i];
              be = "<button class='btn btn-xs btn-default' data-original-title='Edit Row' onclick=\"jQuery('#event_summary_jqgrid').editRow('" + cl + "');\"><i class='fa fa-pencil'></i></button>";
              se = "<button class='btn btn-xs btn-default' data-original-title='Save Row' onclick=\"jQuery('#event_summary_jqgrid').saveRow('" + cl + "');\"><i class='fa fa-save'></i></button>";
              ca = "<button class='btn btn-xs btn-default' data-original-title='Cancel' onclick=\"jQuery('#event_summary_jqgrid').restoreRow('" + cl + "');\"><i class='fa fa-times'></i></button>";
              //ce = "<button class='btn btn-xs btn-default' onclick=\"jQuery('#event_summary_jqgrid').restoreRow('"+cl+"');\"><i class='fa fa-times'></i></button>";
              //jQuery('#event_summary_jqgrid').jqGrid('setRowData',ids[i],{act:be+se+ce});
              jQuery('#event_summary_jqgrid').jqGrid('setRowData', ids[i], {
                act : be + se + ca
              });
            }
          },
          editurl : 'dummy.html',
          multiselect : false,
          autowidth : true,
        });

        jQuery('#event_summary_jqgrid').jqGrid('navGrid', '#event_summary_pjqgrid', {
          edit : false,
          add : false,
          del : false,
          search : false,
          refresh : false
        });
        jQuery('#event_summary_jqgrid').jqGrid('inlineNav', '#event_summary_pjqgrid');
        /* Add tooltips */
        $('.navtable .ui-pg-button').tooltip({
          container : 'body'
        });
      };

      var setupAlarmSummaryDisplay = function () {
        var alarm_summary_jqgrid_data = [{
          name: '/CFS/HS/UtilCpuAvg',
          acqTime: '12:00:01.000',
          actLevel : 2,
          highestLevel: 4,
          currentLevel : 2
        },{
          name: '/CFS/HS/UtilCpuAvg',
          acqTime: '12:00:01.000',
          actLevel : 2,
          highestLevel: 4,
          currentLevel : 2
        },{
          name: '/CFS/HS/UtilCpuAvg',
          acqTime: '12:00:01.000',
          actLevel : 2,
          highestLevel: 4,
          currentLevel : 2
        }];

        var outerwidth = $("#alarm-notification-dropdown").width();
        jQuery("#alarm_summary_jqgrid").jqGrid({
          data : alarm_summary_jqgrid_data,
          datatype : 'local',
          height : 'auto',
          colNames : ['Name', 'Acq Time', 'Activation', 'Highest', 'Current'],
          colModel : [{
            name : 'name',
            index : 'name',
            sortable : true,
            editable : false,
            align : 'left'
          }, {
            name : 'acqTime',
            index : 'acqTime',
            sortable : true,
            editable : false,
            align : 'left',
            width : 150
          }, {
            name : 'actLevel',
            index : 'actLevel',
            sortable : true,
            editable : false,
            align : 'left',
            width : 60
          }, {
            name : 'highestLevel',
            index : 'highestLevel',
            sortable : true,
            editable : false,
            align : 'left',
            width : 60
          }, {
            name : 'currentLevel',
            index : 'currentLevel',
            sortable : true,
            editable : false,
            align : 'left',
            width : 60
          }],
          rowNum : 10,
          rowList : [10, 20, 30],
          pager : '#alarm_summary_pjqgrid',
          sortname : 'time',
          toolbarfilter : true,
          viewrecords : true,
          sortorder : 'asc',
          gridComplete : function() {
            var ids = jQuery('#event_summary_jqgrid').jqGrid('getDataIDs');
            for (var i = 0; i < ids.length; i++) {
              var cl = ids[i];
              be = "<button class='btn btn-xs btn-default' data-original-title='Edit Row' onclick=\"jQuery('#alarm_summary_jqgrid').editRow('" + cl + "');\"><i class='fa fa-pencil'></i></button>";
              se = "<button class='btn btn-xs btn-default' data-original-title='Save Row' onclick=\"jQuery('#alarm_summary_jqgrid').saveRow('" + cl + "');\"><i class='fa fa-save'></i></button>";
              ca = "<button class='btn btn-xs btn-default' data-original-title='Cancel' onclick=\"jQuery('#alarm_summary_jqgrid').restoreRow('" + cl + "');\"><i class='fa fa-times'></i></button>";
              //ce = "<button class='btn btn-xs btn-default' onclick=\"jQuery('#alarm_summary_jqgrid').restoreRow('"+cl+"');\"><i class='fa fa-times'></i></button>";
              //jQuery('#alarm_summary_jqgrid').jqGrid('setRowData',ids[i],{act:be+se+ce});
              jQuery('#alarm_summary_jqgrid').jqGrid('setRowData', ids[i], {
                act : be + se + ca
              });
            }
          },
          editurl : 'dummy.html',
          multiselect : false,
          autowidth: true,
          shrinkToFit: true,
          width: outerwidth
        });
        $("#alarm_summary_jqgrid").jqGrid('setGridWidth', 468);

        //jQuery('#alarm_summary_jqgrid').jqGrid('navGrid', '#alarm_summary_pjqgrid', {
        //  edit : false,
        //  add : false,
        //  del : false,
        //  search : false,
        //  refresh : false
        //});
        //jQuery('#alarm_summary_jqgrid').jqGrid('inlineNav', '#alarm_summary_pjqgrid');
        ///* Add tooltips */
        //$('.navtable .ui-pg-button').tooltip({
        //  container : 'body'
        //});

        //$(window).on('resize.jqGrid', function() {
        //  $("#alarm_summary_jqgrid").jqGrid('setGridWidth', $("#alarm_summary_jqgrid").parent().width());
        //})
      };

      var navBarEmpty = true;
      $(document).ready(function(){
        Handlebars.registerHelper('ifCond', function (v1, operator, v2, options) {
          switch (operator) {
            case '==':
              return (v1 == v2) ? options.fn(this) : options.inverse(this);
            case '===':
              return (v1 === v2) ? options.fn(this) : options.inverse(this);
            case '<':
              return (v1 < v2) ? options.fn(this) : options.inverse(this);
            case '<=':
              return (v1 <= v2) ? options.fn(this) : options.inverse(this);
            case '>':
              return (v1 > v2) ? options.fn(this) : options.inverse(this);
            case '>=':
              return (v1 >= v2) ? options.fn(this) : options.inverse(this);
            case '&&':
              return (v1 && v2) ? options.fn(this) : options.inverse(this);
            case '||':
              return (v1 || v2) ? options.fn(this) : options.inverse(this);
            default:
              return options.inverse(this);
          }
        });
      });


      function isTemplateCommand(commandInfo) {
        if(commandInfo.hasOwnProperty('argument')){
          if(commandInfo.argument.length == 0){
            return false;
          } else {
            var found = false;
            /* Look for at least 1 unspecified value. */
            for(i=0; i < commandInfo.argument.length; i++){
              if(!commandInfo.argument[i].hasOwnProperty('value')){
                found = true;
              }
            }
            return found;
          }
        } else {
          return false;
        }
      }
      var generateUUID = function(){
        var d = new Date().getTime();
        if(window.performance && typeof window.performance.now === "function"){
          d += performance.now(); //use high-precision timer if available
        }
        var uuid = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
          var r = (d + Math.random()*16)%16 | 0;
          d = Math.floor(d/16);
          return (c=='x' ? r : (r&0x3|0x8)).toString(16);
        });
        return uuid;
      }
      function getWorkspaceDir(s){

        dir.getDirectoryListing(s,procDirectoryListing);

      };
      function getNavEntry(path){
        return $( "nav" ).find( "ul[data-path='" + path + "']" );
      };
      function updateNavBar(listing) {
        var source = $.trim($('#navBarTemplate').html());
        var template = Handlebars.compile(source);
        var html = template(listing);
        var tgtObj = getNavEntry(listing.path);

        tgtObj.html('');

        tgtObj.append(html);

        tgtObj.removeClass('jarvis-menu-applied');

        initApp.leftNav();
      };
      function addNavMenu() {
        var menu = new BootstrapMenu('#left-panel', {
          fetchElementData: function($rowElem) {
          },
          /* group actions by their id to make use of separators between
           * them in the context menu. Actions not added to any group with
           * this option will appear in a default group of their own. */
          actionsGroups: [
            ['newFolder', 'newDisplay', 'newScriptJS', 'newScriptPy' ],
            ['openFile', 'editFile'],
            ['copyFile', 'pasteFile', 'deleteFile', 'renameFile', 'moveFile']
          ],
          /* you can declare 'actions' as an object instead of an array,
           * and its keys will be used as action ids. */
          actions: {
            newFolder: {
              name: 'New Folder',
              iconClass: 'fa-folder-o',
              onClick: function() {
                console.log("'New Folder' clicked.");
              },
              isEnabled: function() {
                return true;
              }
            },
            newDisplay: {
              name: 'New Display',
              iconClass: 'fa-tachometer',
              onClick: function() {
                console.log("'New Display' clicked.");
              },
              isEnabled: function() {
                return true;
              }
            },
            newScriptJS: {
              name: 'New JS Script',
              iconClass: 'icon-javascript',
              onClick: function() {
                console.log("'New JS Script' clicked.");
              },
              isShown: function() {
                return true;
              }
            },
            newScriptPy: {
              name: 'New Py Script',
              iconClass: 'icon-python',
              onClick: function() {
                console.log("'New Py Script' clicked.");
              },
              isShown: function() {
                return true;
              }
            },
            openFile: {
              name: 'Open',
              iconClass: 'fa-eye',
              onClick: function() {
                console.log("'Open' clicked.");
              },
              isEnabled: function() {
                return true;
              }
            },
            editFile: {
              name: 'Edit',
              iconClass: 'fa-edit',
              onClick: function() {
                console.log("'Edit' clicked.");
              },
              isEnabled: function() {
                return true;
              }
            },
            copyFile: {
              name: 'Copy',
              iconClass: 'fa-copy',
              onClick: function() {
                console.log("'Copy' clicked.");
              },
              isEnabled: function() {
                return true;
              }
            },
            pasteFile: {
              name: 'Paste',
              iconClass: 'fa-paste',
              onClick: function() {
                console.log("'Paste' clicked.");
              },
              isEnabled: function() {
                return true;
              }
            },
            deleteFile: {
              name: 'Delete',
              iconClass: 'fa-trash',
              onClick: function() {
                console.log("'Delete' clicked.");
              },
              isEnabled: function() {
                return true;
              }
            },
            renameFile: {
              name: 'Rename',
              onClick: function() {
                console.log("'Rename' clicked.");
              },
              isEnabled: function() {
                return true;
              }
            },
            moveFile: {
              name: 'Move',
              onClick: function() {
                console.log("'Move' clicked.");
              },
              isEnabled: function() {
                return true;
              }
            }
          }
        });
      };

    {% verbatim %}
    script#cmdTemplate(type='text/x-handlebars-template').
      <h4>{{ name }}</h4>
      {{#each argument}}
      {{#unless value}}
      <section>
      <label {{#if value}}hidden{{/if}} class="control-label select" for="{{uuid}}">
      {{name}}
      </label>
      {{/unless}}
      {{#ifCond type.engType '==' 'integer'}}
      <input class='form-control spinner validate[required,custom[integer]]' id='{{uuid}}' {{#if value}}type='hidden' value='{{value}}'{{else}}type='text' value='0'{{/if}}'' type='text' required digits />
      {{/ifCond}}
      {{#ifCond type.engType '==' 'float'}}
      <input class='form-control spinner validate[required,custom[integer]]' id='{{uuid}}' {{#if value}}type='hidden' value='{{value}}'{{else}}type='text' value='0'{{/if}}'' type='text' required digits />
      {{/ifCond}}
      {{#ifCond type.engType '==' 'string'}}
      <input class='form-control' id='{{uuid}}' {{#if value}}type='hidden' value='{{value}}'{{else}}type='text' value=''{{/if}}'' type='text' maxlength='{{stringLength}}'/>
      {{/ifCond}}
      {{#ifCond type.engType '==' 'enumeration'}}
        <select class="form-control" id="{{uuid}}">
          {{#each type.enumValue}}
            <option value='{{value}}' {{#ifCond ../value '==' label}}selected{{/ifCond}}>{{label}}</option>
          {{/each}}
        </select>
      </label>
      <i></i>
      </section>
      {{/ifCond}}
      {{/each}}

    script#navBarTemplate(type='text/x-handlebars-template').
      {{#each files}}
      {{#ifCond type '==' 'dir'}}
      <li class="">
      <a href="#" onclick="getWorkspaceDir('{{path}}');"><i class="fa fa-lg fa-fw fa-folder-o"></i> <span class="menu-item-parent">{{name}}</span></a>
      <ul data-path='{{path}}'>
      </ul>
      </li>
      {{else}}
      {{#ifCond ext '==' 'jade'}}
      <li><a href="{{url}}" title="{{name}}"><i class="fa icon-html"></i>{{name}}</a></li>
      {{/ifCond}}
      {{#ifCond ext '==' 'pug'}}
      <li><a href="{{url}}" title="{{name}}"><i class="fa icon-html"></i>{{name}}</a></li>
      {{/ifCond}}
      {{#ifCond ext '==' 'html'}}
      <li><a href="{{url}}" title="{{name}}"><i class="fa icon-html"></i>{{name}}</a></li>
      {{/ifCond}}
      {{#ifCond ext '==' 'js'}}
      <li><a href="{{url}}" title="{{name}}"><i class="fa icon-javascript-alt"></i>{{name}}</a></li>
      {{/ifCond}}
      {{#ifCond ext '==' 'py'}}
      <li><a href="{{url}}" title="{{name}}"><i class="fa icon-python-alt"></i>{{name}}</a></li>
      {{/ifCond}}
      {{#ifCond ext '==' 'pyc'}}
      <li><a href="{{url}}" title="{{name}}"><i class="fa icon-python-alt"></i>{{name}}</a></li>
      {{/ifCond}}
      {{/ifCond}}
      {{/each}}
    {% endverbatim %}
