extends ../../common/layout

block header
        i.fa-fw.fa.fa-signal
        | Essential Services Summary

block main
  .row.row-fluid
    article.col-xs-6.col-sm-5.col-md-4.col-lg-2(style="width:475px")
      #wid-CmdAndData.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
        header
          span.widget-icon
            i.fa.fa-table
          h2 Housekeeping
        div
          .jarviswidget-editbox
            input.form-control(type='text')
          .widget-body
            .table-responsive
              table.table.table-condensed
                tbody
                  tr
                    th(style={width: '150px'}) Cmd Count:
                    td(style={width: '150px'})
                      span(data-sage={tlm: [{name: '/CFS/CFE_ES/CmdCounter'}]}) ---
                    td(style={width: '150px'})
                      .btn-group
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd: {name: '/CFS/CFE_ES/NoOp'}}) No-Op
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd: {name: '/CFS/CFE_ES/ResetCounters'}}) Reset
                  tr
                    th Cmd Error Count:
                    td
                      span(data-sage={tlm: [{name: '/CFS/CFE_ES/ErrCounter'}]}) ---
                    td
                  tr
                    th CFE Version:
                    td 
                      span.span-inline-block(data-sage={tlm: [{name: '/CFS/CFE_ES/CFEMajorVersion'}]}) -
                      span.span-inline-block .
                      span.span-inline-block(data-sage={tlm: [{name: '/CFS/CFE_ES/CFEMinorVersion'}]}) -
                      span.span-inline-block .
                      span.span-inline-block(data-sage={tlm: [{name: '/CFS/CFE_ES/CFERevision'}]}) -
                      span.span-inline-block .
                      span.span-inline-block(data-sage={tlm: [{name: '/CFS/CFE_ES/CFEMissionRevision'}]}) -
                    td
                  tr
                    th OSAL Version:
                    td 
                      span.span-inline-block(data-sage={tlm: [{name: '/CFS/CFE_ES/OSALMajorVersion'}]}) -
                      span.span-inline-block .
                      span.span-inline-block(data-sage={tlm: [{name: '/CFS/CFE_ES/OSALMinorVersion'}]}) -
                      span.span-inline-block .
                      span.span-inline-block(data-sage={tlm: [{name: '/CFS/CFE_ES/OSALRevision'}]}) -
                      span.span-inline-block .
                      span.span-inline-block(data-sage={tlm: [{name: '/CFS/CFE_ES/OSALMissionRevision'}]}) -
                    td
                  tr
                    th Checksum:
                    td
                      span(data-sage={tlm: [{name: '/CFS/CFE_ES/CFECoreChecksum', format:'0x%04x'}]}) ---
                    td
                  tr
                    th Bytes Used:
                    td 
                      span(data-sage={tlm: [{name: '/CFS/CFE_ES/SysLogBytesUsed'}]}) ---
                    td
                  tr
                    th Entries:
                    td
                      span(data-sage={tlm: [{name: '/CFS/CFE_ES/SysLogEntries'}]}) ---
                    td
                      .btn-group
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd: {name: '/CFS/CFE_ES/ClearSysLog'}}) Clear Log
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd: {name: '/CFS/CFE_ES/WriteSysLog'}}) Write Log
                  tr 
                    th Mode:
                    td
                      span(data-sage={tlm: [{name: '/CFS/CFE_ES/SysLogMode'}]}) ---
                    td
                      button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd: {name: '/CFS/CFE_ES/SetSysLogMode'}}) Set Mode
                  tr
                    th Index:
                    td
                      span(data-sage={tlm: [{name: '/CFS/CFE_ES/ERLogIndex'}]}) ---
                  tr 
                    th Entries:
                    td
                      span(data-sage={tlm: [{name: '/CFS/CFE_ES/ERLogEntries'}]}) ---
                    td
                      .btn-group
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd: {name: '/CFS/CFE_ES/ClearErrLog'}}) Clear Log
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd: {name: '/CFS/CFE_ES/WriteErrLog'}}) Write Log
                  tr
                    th Reset Type:
                    td
                      span(data-sage={tlm: [{name: '/CFS/CFE_ES/ResetType'}]}) ---
                    td
                  tr
                    th Reset Subtype:
                    td
                      span(data-sage={tlm: [{name: '/CFS/CFE_ES/ResetSubtype'}]}) ---
                    td
                  tr
                    th Proc Reset Cnt:
                    td
                      span.sage-tlm(data-sage={tlm: [{name: '/CFS/CFE_ES/ProcessorResets'}]}) ---
                    td
                      button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd: {name:'/CFS/CFE_ES/ResetPRCount'}}) Reset
                  tr
                    th Max Proc Resets:
                    td
                      span.sage-tlm(data-sage={tlm: [{name: '/CFS/CFE_ES/MaxProcessorResets'}]}) ---
                    td
                      button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd: {name:'/CFS/CFE_ES/SetMaxPRCount'}}) Set
                  tr
                    th Boot Source:
                    td
                      span(data-sage={tlm: [{name: '/CFS/CFE_ES/BootSource'}]}) ---
                    td
                  tr
                    th Core Apps:
                    td
                      span(data-sage={tlm:[{name:'/CFS/CFE_ES/RegisteredCoreApps'}]}) ---
                    td
                  tr
                    th Ext Apps:
                    td
                      span(data-sage={tlm:[{name:'/CFS/CFE_ES/RegisteredExternalApps'}]}) ---
                    td
                  tr 
                    th Tasks:
                    td
                      span(data-sage={tlm: [{name:'/CFS/CFE_ES/RegisteredTasks'}]}) ---
                    td
                  tr
                    th Libs:
                    td
                      span(data-sage={tlm: [{name:'/CFS/CFE_ES/RegisteredLibs'}]}) ---
                    td
                  tr
                    th Bytes Free:
                    td
                      span(data-sage={tlm: [{name: '/CFS/CFE_ES/HeapBytesFree'}]}) ---
                    td
                  tr
                    th Blocks Free:
                    td 
                      span(data-sage={tlm: [{name: '/CFS/CFE_ES/HeapBlocksFree'}]}) ---
                    td
                  tr
                    th Maximum:
                    td
                      span(data-sage={tlm: [{name: '/CFS/CFE_ES/HeapMaxBlockSize'}]}) ---
                    td

    article.col-xs-2.col-sm-2.col-md-1.col-lg-1(style={width:'240px'})
      #wid-ProcReset.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
        header
          span.widget-icon
            i.fa.fa-table
          h2 Reset
        div
          .jarviswidget-editbox
            input.form-control(type='text')
          .widget-body
            button.btn.btn-xs.btn-warning.btn-labeled.sage-cmd-inline(style='margin:20px 10px 20px 20px' data-sage={cmd: {name: '/CFS/CI/ArmCmd',      argument:[{name:'MsgID', value:'0x1806'},{name:'CmdCode', value:'2'}]}}) Arm Reset
            button.btn.btn-xs.btn-success.btn-labeled.sage-cmd-inline(style='margin:20px 10px 20px 20px' data-sage={cmd: {name: '/CFS/CI/DisarmCmd',   argument:[{name:'MsgID', value:'0x1806'},{name:'CmdCode', value:'2'}]}}) Disarm Reset
            button.btn.btn-xs.btn-danger.btn-labeled.sage-cmd-inline(style='margin:20px 10px 20px 20px'  data-sage={cmd: {name: '/CFS/CFE_ES/Restart', argument:[{name:'Type',  value:'PROC'}]}}) Proc Reset
            button.btn.btn-xs.btn-danger.btn-labeled.sage-cmd-inline(style='margin:20px 10px 20px 20px'  data-sage={cmd: {name: '/CFS/CFE_ES/Restart', argument:[{name:'Type',  value:'POWER-ON'}]}}) Power Reset

  .row
    article.col-xs-12.col-sm-12.col-md-10.col-lg-6(style={width:'500px'})               
      #wid-CFE-ES-Events.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
        header
          span.widget-icon
            i.fa.fa-table
          h2 Event Filter
        div
          .jarviswidget-editbox
            input.form-control(type='text')
          .widget-body
            .table-responsive
              table.table.table-condensed
                tbody
                  tr
                    th(style={width:'250px'}) CFE EVS Cmd Count
                    td(style={width:'150px'})
                      span(data-sage={tlm: [{name: '/CFS/CFE_EVS/CmdCounter'}]}) ---
                  tr
                    th CFE EVS Cmd Err Count
                    td
                      span(data-sage={tlm: [{name: '/CFS/CFE_EVS/ErrCounter'}]}) ---
                  tr
                    th App Events
                    td 
                      .btn-group
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/EnableAppEvents', argument:[{name:'AppName', value:'CFE_ES'}]}}) Enable
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/DisableAppEvents', argument:[{name:'AppName', value:'CFE_ES'}]}}) Disable
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/ResetAllFilters', argument:[{name:'AppName', value:'CFE_ES'}]}}) Reset
                  tr
                    th App Events
                    td 
                      .btn-group
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/EnableAppEvents', argument:[{name:'AppName', value:'CFE_ES'}]}}) Enable
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/DisableAppEvents', argument:[{name:'AppName', value:'CFE_ES'}]}}) Disable
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/ResetAllFilters', argument:[{name:'AppName', value:'CFE_ES'}]}}) Reset
                  tr
                    th Event Types
                    td
                  tr
                    td(style='padding-left: 20px !important') Critical
                    td
                      .btn-group
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/EnableAppEventType', argument:[{name:'AppName', value:'CFE_ES'},{name:'Critical', value:'Ignored'},{name:'Error', value:'Ignored'},{name:'Information', value:'Set'},{name:'Debug', value:'Ignored'},{name:'Spare', value:'0'}]}}) Enable
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/DisableAppEventType', argument:[{name:'AppName', value:'CFE_ES'},{name:'Critical', value:'Ignored'},{name:'Error', value:'Ignored'},{name:'Information', value:'Set'},{name:'Debug', value:'Ignored'},{name:'Spare', value:'0'}]}}) Disable
                  tr
                    td(style='padding-left: 20px !important')  Error
                    td
                      .btn-group
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/EnableAppEventType', argument:[{name:'AppName', value:'CFE_ES'},{name:'Critical', value:'Ignored'},{name:'Error', value:'Set'},{name:'Information', value:'Ignored'},{name:'Debug', value:'Ignored'},{name:'Spare', value:'0'}]}}) Enable
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/DisableAppEventType', argument:[{name:'AppName', value:'CFE_ES'},{name:'Critical', value:'Ignored'},{name:'Error', value:'Set'},{name:'Information', value:'Ignored'},{name:'Debug', value:'Ignored'},{name:'Spare', value:'0'}]}}) Disable
                  tr
                    td(style='padding-left: 20px !important')  Info
                    td
                      .btn-group
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/EnableAppEventType', argument:[{name:'AppName', value:'CFE_ES'},{name:'Critical', value:'Ignored'},{name:'Error', value:'Ignored'},{name:'Information', value:'Set'},{name:'Error', value:'Ignored'},{name:'Spare', value:'0'}]}}) Enable
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/DisableAppEventType', argument:[{name:'AppName', value:'CFE_ES'},{name:'Critical', value:'Ignored'},{name:'Error', value:'Ignored'},{name:'Information', value:'Set'},{name:'Debug', value:'Ignored'},{name:'Spare', value:'0'}]}}) Disable
                  tr
                    td(style='padding-left: 20px !important')  Debug
                    td
                      .btn-group
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/EnableAppEventType', argument:[{name:'AppName', value:'CFE_ES'},{name:'Critical', value:'Ignored'},{name:'Error', value:'Ignored'},{name:'Information', value:'Ignored'},{name:'Debug', value:'Set'},{name:'Spare', value:'0'}]}}) Enable
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/DisableAppEventType', argument:[{name:'AppName', value:'CFE_ES'},{name:'Critical', value:'Ignored'},{name:'Error', value:'Ignored'},{name:'Information', value:'Ignored'},{name:'Debug', value:'Set'},{name:'Spare', value:'0'}]}}) Disable
                  tr
                    th Event IDs
                    td
                  - 
                    var eventDef = {
                      appName:'CFE_ES',
                      events:[
                        {name:'CFE_ES_INIT_INF_EID', eventID:1},
                        {name:'CFE_ES_INITSTATS_INF_EID', eventID:2},
                        {name:'CFE_ES_NOOP_INF_EID', eventID:3},
                        {name:'CFE_ES_RESET_INF_EID', eventID:4},
                        {name:'CFE_ES_SHELL_INF_EID', eventID:5},
                        {name:'CFE_ES_START_INF_EID', eventID:6},
                        {name:'CFE_ES_STOP_DBG_EID', eventID:7},
                        {name:'CFE_ES_STOP_INF_EID', eventID:8},
                        {name:'CFE_ES_RESTART_APP_DBG_EID', eventID:9},
                        {name:'CFE_ES_RESTART_APP_INF_EID', eventID:10},
                        {name:'CFE_ES_RELOAD_APP_DBG_EID', eventID:11},
                        {name:'CFE_ES_RELOAD_APP_INF_EID', eventID:12},
                        {name:'CFE_ES_EXIT_APP_INF_EID', eventID:13},
                        {name:'CFE_ES_ERREXIT_APP_INF_EID', eventID:14},
                        {name:'CFE_ES_ONE_APP_EID', eventID:15},
                        {name:'CFE_ES_ALL_APPS_EID', eventID:16},
                        {name:'CFE_ES_SYSLOG1_INF_EID', eventID:17},
                        {name:'CFE_ES_SYSLOG2_EID', eventID:18},
                        {name:'CFE_ES_ERLOG1_INF_EID', eventID:19},
                        {name:'CFE_ES_ERLOG2_EID', eventID:20},
                        {name:'CFE_ES_MID_ERR_EID', eventID:21},
                        {name:'CFE_ES_CC1_ERR_EID', eventID:22},
                        {name:'CFE_ES_LEN_ERR_EID', eventID:23},
                        {name:'CFE_ES_BOOT_ERR_EID', eventID:24},
                        {name:'CFE_ES_SHELL_ERR_EID', eventID:25},
                        {name:'CFE_ES_START_ERR_EID', eventID:26},
                        {name:'CFE_ES_START_INVALID_FILENAME_ERR_EID', eventID:27},
                        {name:'CFE_ES_START_INVALID_ENTRY_POINT_ERR_EID', eventID:28},
                        {name:'CFE_ES_START_NULL_APP_NAME_ERR_EID', eventID:29},
                        {name:'CFE_ES_START_STACK_ERR_EID', eventID:30},
                        {name:'CFE_ES_START_PRIORITY_ERR_EID', eventID:31},
                        {name:'CFE_ES_START_EXC_ACTION_ERR_EID', eventID:32},
                        {name:'CFE_ES_ERREXIT_APP_ERR_EID', eventID:33},
                        {name:'CFE_ES_STOP_ERR1_EID', eventID:35},
                        {name:'CFE_ES_STOP_ERR2_EID', eventID:36},
                        {name:'CFE_ES_STOP_ERR3_EID', eventID:37},
                        {name:'CFE_ES_RESTART_APP_ERR1_EID', eventID:38},
                        {name:'CFE_ES_RESTART_APP_ERR2_EID', eventID:39},
                        {name:'CFE_ES_RESTART_APP_ERR3_EID', eventID:40},
                        {name:'CFE_ES_RESTART_APP_ERR4_EID', eventID:41},
                        {name:'CFE_ES_RELOAD_APP_ERR1_EID', eventID:42},
                        {name:'CFE_ES_RELOAD_APP_ERR2_EID', eventID:43},
                        {name:'CFE_ES_RELOAD_APP_ERR3_EID', eventID:44},
                        {name:'CFE_ES_RELOAD_APP_ERR4_EID', eventID:45},
                        {name:'CFE_ES_EXIT_APP_ERR_EID', eventID:46},
                        {name:'CFE_ES_PCR_ERR1_EID', eventID:47},
                        {name:'CFE_ES_PCR_ERR2_EID', eventID:48},
                        {name:'CFE_ES_ONE_ERR_EID', eventID:49},
                        {name:'CFE_ES_ONE_APPID_ERR_EID', eventID:50},
                        {name:'CFE_ES_OSCREATE_ERR_EID', eventID:51},
                        {name:'CFE_ES_WRHDR_ERR_EID', eventID:52},
                        {name:'CFE_ES_TASKWR_ERR_EID', eventID:53},
                        {name:'CFE_ES_SYSLOG2_ERR_EID', eventID:55},
                        {name:'CFE_ES_ERLOG2_ERR_EID', eventID:56},
                        {name:'CFE_ES_PERF_STARTCMD_EID', eventID:57},
                        {name:'CFE_ES_PERF_STARTCMD_ERR_EID', eventID:58},
                        {name:'CFE_ES_PERF_STARTCMD_TRIG_ERR_EID', eventID:59},
                        {name:'CFE_ES_PERF_STOPCMD_EID', eventID:60},
                        {name:'CFE_ES_PERF_STOPCMD_ERR1_EID', eventID:61},
                        {name:'CFE_ES_PERF_STOPCMD_ERR2_EID', eventID:62},
                        {name:'CFE_ES_PERF_FILTMSKCMD_EID', eventID:63},
                        {name:'CFE_ES_PERF_FILTMSKERR_EID', eventID:64},
                        {name:'CFE_ES_PERF_TRIGMSKCMD_EID', eventID:65},
                        {name:'CFE_ES_PERF_TRIGMSKERR_EID', eventID:66},
                        {name:'CFE_ES_PERF_LOG_ERR_EID', eventID:67},
                        {name:'CFE_ES_PERF_DATAWRITTEN_EID', eventID:68},
                        {name:'CFE_ES_CDS_REGISTER_ERR_EID', eventID:69},
                        {name:'CFE_ES_SYSLOGMODE_EID', eventID:70},
                        {name:'CFE_ES_ERR_SYSLOGMODE_EID', eventID:71},
                        {name:'CFE_ES_RESET_PR_COUNT_EID', eventID:72},
                        {name:'CFE_ES_SET_MAX_PR_COUNT_EID', eventID:73},
                        {name:'CFE_ES_FILEWRITE_ERR_EID', eventID:74},
                        {name:'CFE_ES_RST_ACCESS_EID', eventID:75},
                        {name:'CFE_ES_CDS_DELETE_ERR_EID', eventID:76},
                        {name:'CFE_ES_CDS_NAME_ERR_EID', eventID:77},
                        {name:'CFE_ES_CDS_DELETED_INFO_EID', eventID:78},
                        {name:'CFE_ES_CDS_DELETE_TBL_ERR_EID', eventID:79},
                        {name:'CFE_ES_CDS_OWNER_ACTIVE_EID', eventID:80},
                        {name:'CFE_ES_TLM_POOL_STATS_INFO_EID', eventID:81},
                        {name:'CFE_ES_INVALID_POOL_HANDLE_ERR_EID', eventID:82},
                        {name:'CFE_ES_CDS_REG_DUMP_INF_EID', eventID:83},
                        {name:'CFE_ES_CDS_DUMP_ERR_EID', eventID:84},
                        {name:'CFE_ES_WRITE_CFE_HDR_ERR_EID', eventID:85},
                        {name:'CFE_ES_CREATING_CDS_DUMP_ERR_EID', eventID:86},
                        {name:'CFE_ES_TASKINFO_EID', eventID:87},
                        {name:'CFE_ES_TASKINFO_OSCREATE_ERR_EID', eventID:88},
                        {name:'CFE_ES_TASKINFO_WRHDR_ERR_EID', eventID:89},
                        {name:'CFE_ES_TASKINFO_WR_ERR_EID', eventID:90}]
                      }; 

                  - for (var idx = 0; idx < eventDef.events.length; ++idx) {
                      - var strEventID = '' + eventDef.events[idx].eventID;
                      - var cmdSetFilter = {cmd: {name:'/CFS/CFE_EVS/SetFilter', argument:[{name:'AppName', value:eventDef.appName},{name:'EventID', value:strEventID}]}};
                      - var cmdResetFilter = {cmd: {name:'/CFS/CFE_EVS/ResetFilter', argument:[{name:'AppName', value:eventDef.appName},{name:'EventID', value:strEventID}]}};
                      - var cmdAddEventFilter = {cmd: {name:'/CFS/CFE_EVS/AddEventFilter', argument:[{name:'AppName', value:eventDef.appName},{name:'EventID', value:strEventID}]}};
                      - var cmdDeleteEventFilter = {cmd: {name:'/CFS/CFE_EVS/DeleteEventFilter', argument:[{name:'AppName', value:eventDef.appName},{name:'EventID', value:strEventID}]}};
                      tr
                        td(style='padding-left: 20px !important')  #{eventDef.events[idx].name}
                        td
                          .btn-group
                            button.btn.btn-xs.btn-primary(data-sage= cmdSetFilter) Set
                            button.btn.btn-xs.btn-primary(data-sage= cmdResetFilter) Reset
                            button.btn.btn-xs.btn-primary(data-sage= cmdAddEventFilter) Add
                            button.btn.btn-xs.btn-primary(data-sage= cmdDeleteEventFilter) Delete
                  - };

    - 
      var schDef = {
        slotCount:200,
        entriesPerSlot:5,
        appName:'CFE_ES',
        slots:[
          {id:10, activities:[1]}],
        groups:[
          {name:'SCH_GROUP_CFE_ES_SEND_HK', id:0x00040000}]};

    article.col-xs-12.col-sm-12.col-md-12.col-lg-8
      #wid-SCH-Diag-Entries.jarviswidget.jarviswidget-color-blueDark(style='width: 860px' data-widget-editbutton='false')
        header
          span.widget-icon
            i.fa.fa-table
          h2 Scheduler 
            button.btn.btn-xs.btn-primary.btn-labeled(data-sage={cmd:{name:'/CFS/SCH/SendDiagTlm'}}) Send Schedule
        div
          .jarviswidget-editbox
            input.form-control(type='text')
          .widget-body
            .table-responsive
              table.table.table-condensed
                tbody
                  tr
                    th(style='width: 150px') Cmd Count
                    td
                      span(data-sage={tlm: [{name:'/CFS/SCH/CmdCounter'}]}) ---
                  tr
                    th Error Count
                    td
                      span(data-sage={tlm: [{name:'/CFS/SCH/ErrCounter'}]}) ---
            .table-responsive
              table.table.table-bordered.table-condensed
                thead
                  tr
                    th(style="width: 100px") Slot #
                    th(style="width: 100px") Activity #
                    th(style="width: 150px") State
                    th MsgID
                    th(style="width: 150px") Action
                tbody
                  - for (var slotIdx = 0; slotIdx < schDef.slots.length; ++slotIdx) {
                    - var slotID = schDef.slots[slotIdx].id;
                    - var strSlotID = '' + slotID;
                    - for (var actIdx = 0; actIdx < schDef.slots[slotIdx].activities.length; ++actIdx){
                      - var actID = schDef.slots[slotIdx].activities[actIdx];
                      - var strActID =  '' + actID;
                      - var entryID = (schDef.entriesPerSlot * slotID) + actID;
                      - var strEntryID = '' + entryID;
                      - var tlmEntryState = {tlm:[{name:'/CFS/SCH/EntryState_'+entryID}]};
                      - var tlmMsgID = {tlm:[{name:'/CFS/SCH/MsgID_'+entryID}]};
                      - var cmdEnableEntry = {cmd: {name:'/CFS/SCH/EnableEntry', argument:[{name:'Slot', value:strSlotID},{name:'Entry', value:strActID}]}};
                      - var cmdDisableEntry = {cmd: {name:'/CFS/SCH/DisableEntry', argument:[{name:'Slot', value:strSlotID},{name:'Entry', value:strActID}]}};
                      tr
                        td #{slotID}
                        td #{strActID}
                        td 
                          span(data-sage= tlmEntryState) ---
                        td
                          span(data-sage= tlmMsgID) ---
                        td
                          .btn-group.dropup
                            button.btn.btn-xs.btn-primary.btn-labeled(data-sage= cmdEnableEntry) Ena
                            button.btn.btn-xs.btn-primary.btn-labeled(data-sage= cmdDisableEntry) Dis
                    - };
                  - };
            .table-responsive
              table.table.table-bordered.table-condensed
                thead
                  tr
                    th(style="width: 100px") Group Name
                    th(style="width: 100px") Group ID
                    th(style="width: 150px") Action
                tbody
                  - for (var grpIdx = 0; grpIdx < schDef.groups.length; ++grpIdx) {
                    - var grpName = schDef.groups[grpIdx].name;
                    - var grpID = schDef.groups[grpIdx].id;
                    - var strGrpID = '0x' + grpID.toString(16);
                    - var cmdEnableGroup = {cmd: {name:'/CFS/SCH/EnableGroup', argument:[{name:'Group', value:strGrpID}]}};
                    - var cmdDisableGroup = {cmd: {name:'/CFS/SCH/DisableGroup', argument:[{name:'Group', value:strGrpID}]}};
                    tr
                      td #{grpName}
                      td(style='font-family: monospace') #{strGrpID}
                      td
                        .btn-group.dropup
                          button.btn.btn-xs.btn-primary.btn-labeled(data-sage= cmdEnableGroup) Ena
                          button.btn.btn-xs.btn-primary.btn-labeled(data-sage= cmdDisableGroup) Dis
                  - };

